<div class="container autoform">
  <h1><strong>slovensko.sk API</strong></h1>
  <p class="lead">Integrácia na slovensko.sk, prihlasovanie pomocou eID, automatizované zasielanie podaní cez <em>REST API</em>. <br><em>Docker kontajner. Open source.</em></p>
  <hr>

  <section>
    <h2 class="text-center">Integrácie pre Váš informačný systém</h2>
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fa fa-cogs fa--feature"></i><br>
        <p class="lead">Posielate veľké množstvo podaní na slovensko.sk? <em>Automatizujte cez hromadné podania.</em></p>
      </div>

      <div class="col-md-4">
        <i class="fa fa-id-badge fa--feature"></i><br>
        <p class="lead">Potrebujete štátom garantovanú identitu a&nbsp;informácie o&nbsp;prihlasovanej osobe? <em>Podporujeme prihlasovanie elektronickým občianskym preukazom.</em></p>
      </div>

      <div class="col-md-4">
        <i class="fa fa-envelope-open fa--feature"></i><br>
        <p class="lead">Potrebujete automatizovane preberať správy zo schránky na slovensko.sk? <em>Použite službu <%= link_to 'GovBox API', services_govbox_index_path %>.</em></p>
      </div>
    </div>
  </section>

  <section>
    <h2>Balíky podpory</h2>
    <p class="lead">Potrebujete pomôcť s vypracovaním integračných dokumentov? Potrebujete poradiť? <em>Objednajte si naše služby.</em></p>
    <div class="row row-pricing">
      <div class="col-md-4 ">
        <div class="panel panel-pricing panel-default text-center">
          <div class="panel-heading">
            <h3>Komunitná verzia</h3>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><strong>Open Source</strong></li>
            <li class="list-group-item"><a href="https://github.com/orgs/slovensko-digital/packages/container/package/slovensko-sk-api" target="_blank">Docker kontajner</a></li>
            <li class="list-group-item">Vzorové integračné dokumenty pre NASES</li>
            <li class="list-group-item"><a href="https://generator3.swagger.io/index.html?url=https://slovensko-sk-api.ekosystem.slovensko.digital/openapi.yaml" target="_blank">OpenAPI 3.0 dokumentácia</a></li>
            <li class="list-group-item"><strong>Zadarmo</strong></li>
            <li class="list-group-item"><a href="https://github.com/slovensko-digital/slovensko-sk-api" target="_blank" class="btn btn-default">GitHub</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-pricing panel-pricing--featured panel-primary text-center">
          <div class="panel-heading text-center">
            <h3>Biznis verzia<br><small></small></h3>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><strong>Všetko z Komunitnej verzie</strong></li>
            <li class="list-group-item">Okamžitý prístup k vývojovému prostrediu na&nbsp;testovanie</li>
            <li class="list-group-item">Vypracovanie integračných dokumentov pre&nbsp;Váš projekt na&nbsp;mieru</li>
            <li class="list-group-item">Celú komunikáciu s NASES vybavíme za Vás</li>
            <li class="list-group-item">Komerčná podpora a konzultácie</li>
            <li class="list-group-item list-group-item-info"><a href="#kontakt" class="btn btn-lg btn-default"><strong>Objednať</strong></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-pricing panel-default text-center">
          <div class="panel-heading text-center">
            <h3>Enterprise verzia</h3>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><strong>Všetko z Biznis verzie</strong></li>
            <li class="list-group-item">Rozšírená funkcionalita</li>
            <li class="list-group-item">Vývoj novej funkcionality na mieru</li>
            <li class="list-group-item">Prevádzkovanie softvéru ako služby (SaaS)</li>
            <li class="list-group-item">Komerčná podpora a SLA</li>
            <li class="list-group-item">Propagácia Vašej firmy</li>
            <li class="list-group-item list-group-item-default"><a href="#kontakt" class="btn btn-default">Kontaktujte nás</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="clients">
    <h2 class="text-center">Spokojní zákazníci</h2>

    <div class="row">
      <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-md-8 col-md-offset-2">
              <div>
                <img src="<%= path_to_image('clients/people/tibor_badura_crystal_consulting.png') %>" style="height: 15ex" alt="Tibor Baďura">
                <p class="text-center">&quot;Potrebovali sme vyriešiť integrácie na slovensko.sk. S našou podporou a so zanietením Slovensko.Digital vzniklo "slovensko.sk API", ktoré sme zverejnili ako Open Source.
                  <b>Vďaka tomu sme otvorili cestu pre integráciu na slovensko.sk aj ďalším firmám.</b>
                  Po tejto skúsenosti sme si objednali vývoj komponentu na pokročilú integráciu na ÚPVS.
                  Vďaka tomu naše cloudové riešenie registratúrneho systému spoľahlivo komunikuje s elektronickými schránkami ÚPVS.&quot;
                </p>
                <p class="client-name"><i>Tibor Baďura</i></p>
                <p><i>Crystal Consulting</i></p>
                <%= link_to 'https://www.crystalconsulting.sk', target: '_blank', title: 'Crystal Consulting' do %>
                  <%= image_tag 'clients/crystal-consulting.png', width: '200', alt: 'Crystal Consulting' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

<!--        <a class="left carousel-control" href="#carousel-testimonials" role="button" data-slide="prev">-->
<!--          <span class="icon-prev" aria-hidden="true"></span>-->
<!--          <span class="sr-only">Previous</span>-->
<!--        </a>-->
<!--        <a class="right carousel-control" href="#carousel-testimonials" role="button" data-slide="next">-->
<!--          <span class="icon-next" aria-hidden="true"></span>-->
<!--          <span class="sr-only">Next</span>-->
<!--        </a>-->
      </div>
    </div>
  </section>


  <section id="kontakt">
    <h2>Kontaktný formulár</h2>
    <p class="lead">
      Nechajte nám Váš emailový kontakt alebo nám napíšte na <a href="mailto:ekosystem@slovensko.digital">ekosystem@slovensko.digital</a>. <em>Tešíme sa na spoluprácu.</em>
    </p>

    <div id="sk-api-error" style="display: none;">
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true" class="error">&times;</span></button>
        <%= 'Vyplňte prosím email a skúste znova.' %>
      </div>
    </div>
    <div id="sk-api-form-sent" style="display: none;">
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" class="success">&times;</span>
        </button>
        <%= 'Ďakujeme, za Váš záujem. Budeme Vás kontaktovať cez zadaný email.' %>
      </div>
    </div>

    <iframe name="form-result" style="display: none;"></iframe>
    <div class="row">
      <%= form_tag 'https://docs.google.com/forms/d/e/1FAIpQLSfUuAjnqGjDvSc-Miy6bP0xODXsjr6g04hGAeYlYkJo-3Iu1Q/formResponse', target: 'form-result', id: 'sk-api-form' do %>
        <div class="col-md-3 col-md-pad">
          <div class="form-group">
            <%= label_tag 'sk-api-email', 'Email', class: 'control-label' %>
            <%= email_field_tag 'entry.2000578163', nil, class: 'form-control input-lg', id: 'sk-api-email' %>
          </div>
        </div>
        <div class="col-md-4 col-md-pad">
          <%= label_tag :a, '&nbsp'.html_safe %> <br>
          <%= button_tag id: 'submit_to_datahub', class: 'btn btn-default btn-lg btn-strong' do %>
            <strong>Odoslať</strong>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>

  <section id="clients">
    <h2 class="text-center">Tento produkt vznikol v spolupráci&nbsp;s</h2>
    <br>
    <div class="row">
      <div class="col-md-3 col-md-offset-5 text-center">
        <%= link_to 'https://www.crystalconsulting.sk', target: '_blank', title: 'Crystal Consulting' do %>
          <%= image_tag 'clients/crystal-consulting.png', width: '200', alt: 'Crystal Consulting' %>
        <% end %>
      </div>
    </div>
  </section>

</div>
