<div class="container">
  <section>
    <h2>Služby</h2>
    <div class="row">
      <div class="col-md-5">
        <h3><%= link_to 'Autoform', services_autoform_index_path %> <span class="label label-success">LIVE</span></h3>
        <p class="lead">Automatické dopĺňanie kontaktných a&nbsp;fakturačných údajov o&nbsp;právnických osobách. Denne aktualizované. <em>Integrácia na pár riadkov HTML kódu.</em></p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h3><%= link_to 'Datahub', services_datahub_index_path %> <span class="label label-danger">ALFA</span></h3>
        <p class="lead">Prístup ku konsolidovaným a&nbsp;prepojeným štruktúrovaným dátam a&nbsp;rozhranie pre <em>analytické reporty cez SQL</em>.</p>
      </div>
    </div>
  </section>

  <hr>

  <section>
    <h2>Otvorené dáta &amp; API</h2>
    <p class="lead">Úplné, štruktúrované a&nbsp;aktualizované dáta prioritných zdrojov. S rozumnými <%= link_to 'podmienkami používania', terms_path %>*.</p>
    <p>* Používaním dát a API s nimi súhlasíte.</p>

    <div class="row">
      <div class="col-md-5">
        <h3>Register právnických osôb <span class="label label-warning">BETA</span></h3>
        <p class="lead">Databáza právnických osôb, podnikateľov a&nbsp;orgánov verejnej moci. Viac ako 1.4 milióna právnických osôb s&nbsp;kompletnou históriou.</p>
        <p class="btn-row">
          <a href="https://s3.eu-central-1.amazonaws.com/ekosystem-slovensko-digital-dumps/rpo.sql.gz?torrent" class="btn btn-default"><i class="glyphicon glyphicon-cloud-download"></i> <strong>rpo.sql.gz.torrent</strong> (~850MB)</a>
          <%= link_to 'Dokumentácia', open_data_path(anchor: :rpo), class: 'btn btn-default' %>
          <%= link_to 'API', open_api_path(anchor: :rpo), class: 'btn btn-default' %>
        </p>
        <p>
          <small>Zdroj: Register a&nbsp;identifikátor právnických osôb, podnikateľov a&nbsp;orgánov verejnej moci, Štatistický úrad Slovenskej republiky.</small>
        </p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h3>Centrálny register zmlúv <span class="label label-warning">BETA</span></h3>
        <p class="lead">Databáza zmlúv centrálneho registra zmlúv od&nbsp;roku 2011.</p>
        <p class="btn-row">
          <a href="https://s3.eu-central-1.amazonaws.com/ekosystem-slovensko-digital-dumps/crz.sql.gz?torrent" class="btn btn-default"><i class="glyphicon glyphicon-cloud-download"></i> <strong>crz.sql.gz.torrent</strong> (~160MB)</a>
          <%= link_to 'Dokumentácia', open_data_path(anchor: :crz), class: 'btn btn-default' %>
          <%= link_to 'API', open_api_path(anchor: :crz), class: 'btn btn-default' %>
        </p>
        <p>
          <small>Zdroj: data.gov.sk, Centrálny register zmlúv, Úrad vlády Slovenskej republiky.</small>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <h3>Vestník verejného obstarávania <span class="label label-danger">ALFA</span></h3>
        <p class="lead">Databáza oznámení vestníka verejného obstarávania od&nbsp;roku 2014. </p>
        <p class="btn-row">
          <a href="https://s3.eu-central-1.amazonaws.com/ekosystem-slovensko-digital-dumps/vvo.sql.gz?torrent" class="btn btn-default"><i class="glyphicon glyphicon-cloud-download"></i> <strong>vvo.sql.gz.torrent</strong> (~170MB)</a>
          <%= link_to 'Dokumentácia', open_data_path(anchor: :vvo), class: 'btn btn-default' %>
          <%= link_to 'API', open_api_path(anchor: :vvo), class: 'btn btn-default' %>
        </p>
        <p>
          <small>Zdroj: data.gov.sk, Vestník verejného obstarávania, Úrad pre verejné obstarávanie.</small>
        </p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h3>Obchodný vestník <span class="label label-danger">ALFA</span></h3>
        <p class="lead">Databáza oznámení obchodného vestníka od&nbsp;roku 2011. </p>
        <p class="btn-row">
          <a href="https://s3.eu-central-1.amazonaws.com/ekosystem-slovensko-digital-dumps/ov.sql.gz?torrent" class="btn btn-default"><i class="glyphicon glyphicon-cloud-download"></i> <strong>ov.sql.gz.torrent</strong> (~950MB)</a>
          <%= link_to 'Dokumentácia', open_data_path(anchor: :ov), class: 'btn btn-default' %>
          <%= link_to 'API', open_api_path(anchor: :ov), class: 'btn btn-default' %>
        </p>
        <p>
          <small>Zdroj: Obchodný vestník. Ministerstvo spravodlivosti Slovenskej republiky.</small>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <h3>Register účtovných závierok <span class="label label-danger">ALFA</span></h3>
        <p class="lead">Databáza účtovných jednotiek registra účtovných závierok.</p>
        <p class="btn-row">
          <a href="https://s3.eu-central-1.amazonaws.com/ekosystem-slovensko-digital-dumps/ruz.sql.gz?torrent" class="btn btn-default"><i class="glyphicon glyphicon-cloud-download"></i> <strong>ruz.sql.gz.torrent</strong> (~70MB)</a>
          <%= link_to 'Dokumentácia', open_data_path(anchor: :ruz), class: 'btn btn-default' %>
          <%= link_to 'API', open_api_path(anchor: :ruz), class: 'btn btn-default' %>
        </p>
        <p>
          <small>Zdroj: Register účtovných závierok, Ministerstvo financií Slovenskej republiky.</small>
        </p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h3>Dlžníci Sociálnej poisťovne <span class="label label-danger">ALFA</span></h3>
        <p class="lead">Databáza dlhov Sociálnej poisťovne od roku 2014.</p>
        <p class="btn-row">
          <a href="https://s3.eu-central-1.amazonaws.com/ekosystem-slovensko-digital-dumps/socpoist.sql.gz?torrent" class="btn btn-default"><i class="glyphicon glyphicon-cloud-download"></i> <strong>socpoist.sql.gz.torrent</strong>  (~100MB)</a>
          <%= link_to 'Dokumentácia', open_data_path(anchor: :socpoist), class: 'btn btn-default' %>
          <%= link_to 'API', open_api_path(anchor: :socpoist), class: 'btn btn-default' %>
        </p>
        <p>
          <small>Zdroj: Zoznamy dlžníkov, Sociálna poisťovňa.</small>
        </p>
      </div>
      </div>
    <div class="row">
      <div class="col-md-5">
        <h3>Dlžníci Všeobecnej zdravotnej poisťovne <span class="label label-danger">ALFA</span></h3>
        <p class="lead">Databáza dlžníkov Všeobecnej zdravotnej poisťovne od júna 2016.</p>
        <p class="btn-row">
          <a href="https://s3.eu-central-1.amazonaws.com/ekosystem-slovensko-digital-dumps/vszp.sql.gz?torrent" class="btn btn-default"><i class="glyphicon glyphicon-cloud-download"></i> <strong>vszp.sql.gz.torrent</strong> (~25MB)</a>
          <%= link_to 'Dokumentácia', open_data_path(anchor: :vszp), class: 'btn btn-default' %>
          <%= link_to 'API', open_api_path(anchor: :vszp), class: 'btn btn-default' %>
        </p>
        <p>
          <small>Zdroj: Zoznamy dlžníkov, Všeobecná zdravotná poisťovňa.</small>
        </p>
      </div>
    </div>
  </section>

  <hr>

  <section>
    <div class="well premium">
      <h3>Nenašli ste čo ste hľadali?</h3>
      <p class="lead">Máte nápad na službu alebo vylepšenie? Potrebujete iné dáta? Využívate tieto dáta? <strong><%= mail_to 'kontakt@slovensko.digital', 'Ozvite sa nám' %></strong>.</p>
    </div>
  </section>
</div>