<div class="container">
  <section>
    <h2>Služby a produkty</h2>
      <div class="row">
        <div class="col-md-5">
          <h3><%= link_to 'Autogram', 'https://sluzby.slovensko.digital/autogram' %> <span class="label label-success">NOVÉ</span></h3>
          <p class="lead">Nový, krajší a
            <em>lepší nástroj na podpisovanie</em> a overovanie dokumentov aj s REST API pre
            <em>jednoduchú integráciu</em>.</p>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <h3><%= link_to 'Autogram v mobile', 'https://sluzby.slovensko.digital/autogram-v-mobile' %> <span class="label label-success">NOVÉ</span></h3>
          <p class="lead">Nový, krajší a <em>lepší nástroj na podpisovanie a overovanie</em> dokumentov priamo z mobilu, <em>bez čítačky</em> a úplne <em>zadarmo</em>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <h3><%= link_to 'GovBox PRO', 'https://sluzby.slovensko.digital/govbox-pro' %> <span class="label label-success">NOVÉ</span></h3>
          <p class="lead">Nová, krajšia a <em>lepšia elektronická schránka</em>. Viacero používateľov, viacero schránok, podpisovanie, archív. <em>Aj na mobile</em>.</p>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <h3><%= link_to 'GovBox', services_govbox_index_path %></h3>
          <p class="lead">Automatické preposielanie správ zo štátnej schránky
            <em>na Váš súkromný email a&nbsp;bez elektronického občianskeho preukazu</em>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <h3><%= link_to 'GovBox API', services_govbox_api_index_path %></h3>
          <p class="lead"><em>Správy zo slovensko.sk integrované na interný systém.</em>
            Ideálne riešenie pre firmy, ktoré intenzívne využívajú schránku na slovensko.sk, potrebujú zasielať hromadné podania alebo uvažujú o automatizácii procesov.</p>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <h3><%= link_to 'Autoform', services_autoform_index_path %></h3>
          <p class="lead">Automatické dopĺňanie kontaktných a&nbsp;fakturačných údajov o&nbsp;právnických osobách. Denne aktualizované.
            <em>Integrácia na pár riadkov HTML kódu.</em></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <h3><%= link_to 'Datahub', services_datahub_index_path %></h3>
          <p class="lead">Prístup ku konsolidovaným a&nbsp;prepojeným štruktúrovaným dátam cez
            <em>jednoduché REST API</em> a&nbsp;rozhranie pre <em>analytické reporty cez SQL</em>.</p>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <h3><%= link_to 'slovensko.sk API', services_slovensko_sk_api_index_path %></h3>
          <p class="lead">Integrácia na slovensko.sk, prihlasovanie pomocou eID, automatizované zasielanie podaní cez REST API. <em>Docker kontajner. Open Source.</em></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <h3><%= link_to 'Konzultačné služby', services_consultations_path %></h3>
          <p class="lead">Konzultačné služby a analýzy <em>podľa vašich potrieb</em> a individuálneho zadania.</p>
        </div>
      </div>
  </section>

  <section id="clients">
    <h2 class="text-center">Spokojní zákazníci</h2>

    <div class="row">
      <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-md-8 col-md-offset-2">
              <div>
                <img src="<%= path_to_image('clients/people/katarina_jandova_profesia.png') %>" style="height: 15ex" alt="Katarína Jandová">
                <div>
                  <p class="text-center">&quot;V Profesii využívame službu Autoform už niekoľko rokov.
                    <b>Vďaka nej stačí zákazníkom Profesie pri registrácií vyplniť iba názov spoločnosti, o zvyšok sa postará Autoform.</b>
                    Nielenže sme tým <b>zvýšili počet úspešných registrácií</b>, tiež sme tým <b>znížili chybovosť firiem pri vypĺňaní dôležitých údajov.</b>&quot;</p>
                  <p class="client-name"><i>Katarína Jandová</i></p>
                  <p><i>Produktová manažérka Profesia.sk</i></p>
                  <%= link_to 'https://www.profesia.sk', target: '_blank', title: 'Profesia.sk' do %>
                    <%= image_tag 'clients/profesia.png', width: '100', alt: 'Profesia.sk' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="col-md-8 col-md-offset-2">
              <div>
                <img src="<%= path_to_image('clients/people/martina_hanulova_benu.png') %>" style="height: 15ex" alt="Mgr. Martina Hanulová">
                <p class="text-center">&quot;So službou GovBox máme ako spoločnosť BENU Slovensko, a.s. len pozitívne skúsenosti, <b>príjímanie a odosielanie správ je rýchle a bezproblémové</b>.
                  Počas používania sme sa nestretli s negatívnymi skúsenosťami. Určite by som GoxBox odporučila, nakoľko zamestnanec pri svojej práci nemá možnosť ani šancu každý deň sledovať príjem správ do elektronickej schránky.
                  <b>Preposielanie z GovBoxu je pri súčasnej elektronizácii veľkou pomocou</b>.&quot;
                </p>
                <p class="client-name"><i>Mgr. Martina Hanulová</i></p>
                <p><i>Operations & Project Manager, BENU Slovensko, a.s.</i></p>
                <%= link_to 'https://www.benulekaren.sk', target: '_blank', title: 'BENU Slovensko, a.s.' do %>
                  <%= image_tag 'clients/benu.png', width: '170', alt: 'BENU Slovensko, a.s.' %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="col-md-8 col-md-offset-2">
              <div>
                <img src="<%= path_to_image('clients/people/tibor_badura_crystal_consulting.png') %>" style="height: 15ex" alt="Tibor Baďura">
                <p class="text-center">&quot;Potrebovali sme vyriešiť integrácie na slovensko.sk. S našou podporou a so zanietením Slovensko.Digital vzniklo "slovensko.sk API", ktoré sme zverejnili ako Open Source.
                  <b>Vďaka tomu sme otvorili cestu pre integráciu na slovensko.sk aj ďalším firmám.</b>
                  Po tejto skúsenosti sme si objednali vývoj komponentu na pokročilú integráciu na ÚPVS.
                  Vďaka tomu naše cloudové riešenie registratúrneho systému spoľahlivo komunikuje s elektronickými schránkami ÚPVS.&quot;
                </p>
                <p class="client-name"><i>Tibor Baďura</i></p>
                <p><i>Crystal Consulting</i></p>
                <%= link_to 'https://www.crystalconsulting.sk', target: '_blank', title: 'Crystal Consulting' do %>
                  <%= image_tag 'clients/crystal-consulting.png', width: '200', alt: 'Crystal Consulting' %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="col-md-8 col-md-offset-2">
              <div>
                <img src="<%= path_to_image('clients/people/dan_kollar_cyklokoalicia.png') %>" style="height: 15ex" alt="Dan Kollár">
                <p class="text-center">&quot;<b>V Cyklokoalícii nám služba GovBox velmi zjednodušuje život.</b>
                  Veľa vecí súvisiacich s rozvojom pešej a cyklistickej dopravy sa totiž deje cez podania a úrady, ktoré nám denne posielajú množstvo informácií o konaniach a podobne.
                  <b>Takto ich dostaneme jednoducho do emailu a vieme s nimi následne ďalej efektívne pracovať.</b>&quot;
                </p>
                <p class="client-name"><i>Dan Kollár</i></p>
                <p><i>Prezident Cyklokoalícia</i></p>
                <%= link_to 'https://www.cyklokoalicia.sk', target: '_blank', title: 'Crystal Consulting' do %>
                  <%= image_tag 'clients/cyklokoalicia.png', width: '200', alt: 'Cyklokoalícia' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <a class="left carousel-control" href="#carousel-testimonials" role="button" data-slide="prev">
          <span class="icon-prev" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-testimonials" role="button" data-slide="next">
          <span class="icon-next" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>

  <hr>

  <section>
    <h2>Prémiové dáta &amp; API</h2>
    <p class="lead">Konsolidované a prepojené dáta z rôznych zdrojov. Dostupné <%= link_to 'po registrácii', services_datahub_index_path %>.</p>

    <div class="row">
      <div class="col-md-5">
        <h3>Právnické osoby</h3>
        <p class="lead">Databáza konsolidovaných údajov o&nbsp;právnických osobách. Aktuálny názov, adresa, IČO, DIČ, IČ&nbsp;DPH a prepojenia na kompletné záznamy v&nbsp;zdrojových registroch.</p>
        <p class="btn-row">
          <%= link_to 'Dokumentácia', premium_data_path, class: 'btn btn-default' %>
          <%= link_to 'API', premium_api_path(anchor: :po), class: 'btn btn-default' %>
        </p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h3><%= link_to 'Autoform API', services_autoform_index_path %></h3>
        <p class="lead">Vyhľadávanie právnických osôb podľa IČO alebo názvu.</p>
        <p class="btn-row">
          <%= link_to 'Dokumentácia', integration_manual_services_autoform_index_path, class: 'btn btn-default' %>
          <%= link_to 'API', integration_manual_services_autoform_index_path(anchor: :api), class: 'btn btn-default' %>
        </p>
      </div>
    </div>

  </section>

  <hr>

  <section>
    <h2>Otvorené dáta &amp; API</h2>
    <p class="lead">Úplné, štruktúrované a&nbsp;aktualizované dáta prioritných zdrojov. S rozumnými <%= link_to 'podmienkami používania', datasets_terms_path %>*.</p>
    <p>* Používaním dát a API s nimi súhlasíte.</p>

    <div class="row">
      <div class="col-md-5">
        <h3>Register právnických osôb</h3>
        <p class="lead">Databáza právnických osôb, podnikateľov a&nbsp;orgánov verejnej moci. Viac ako 1.4 milióna právnických osôb s&nbsp;kompletnou históriou.</p>
        <p class="btn-row">
          <a href="<%= @dump_urls[:rpo] %>?torrent" class="btn btn-default"><i class="glyphicon glyphicon-cloud-download"></i> <strong>rpo.sql.gz.torrent</strong> <%= @dump_sizes[:rpo] %></a>
          <%= link_to 'Dokumentácia', open_data_path(anchor: :rpo), class: 'btn btn-default' %>
          <%= link_to 'API', open_api_path(anchor: :rpo), class: 'btn btn-default' %>
        </p>
        <p>
          <small>Zdroj: Register a&nbsp;identifikátor právnických osôb, podnikateľov a&nbsp;orgánov verejnej moci, Štatistický úrad Slovenskej republiky.</small>
        </p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h3>ITMS2014+</h3>
        <p class="lead">Rozsiahle dáta o čerpaní peňazí z európskych operačných programov.</p>
        <p class="btn-row">
          <a href="<%= @dump_urls[:itms] %>?torrent" class="btn btn-default"><i class="glyphicon glyphicon-cloud-download"></i> <strong>itms.sql.gz.torrent</strong> <%= @dump_sizes[:itms] %></a>
          <%= link_to 'Dokumentácia', open_data_path(anchor: :itms), class: 'btn btn-default' %>
        </p>
        <p>
          <small>Zdroj: ITMS2014+</small>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <h3>Obchodný vestník</h3>
        <p class="lead">Databáza oznámení obchodného vestníka od&nbsp;roku 2011. </p>
        <p class="btn-row">
          <a href="<%= @dump_urls[:ov] %>?torrent" class="btn btn-default"><i class="glyphicon glyphicon-cloud-download"></i> <strong>ov.sql.gz.torrent</strong> <%= @dump_sizes[:ov] %></a>
          <%= link_to 'Dokumentácia', open_data_path(anchor: :ov), class: 'btn btn-default' %>
          <%= link_to 'API', open_api_path(anchor: :ov), class: 'btn btn-default' %>
        </p>
        <p>
          <small>Zdroj: Obchodný vestník. Ministerstvo spravodlivosti Slovenskej republiky.</small>
        </p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h3>Register účtovných závierok</h3>
        <p class="lead">Databáza účtovných jednotiek registra účtovných závierok.</p>
        <p class="btn-row">
          <a href="<%= @dump_urls[:ruz] %>?torrent" class="btn btn-default"><i class="glyphicon glyphicon-cloud-download"></i> <strong>ruz.sql.gz.torrent</strong> <%= @dump_sizes[:ruz] %></a>
          <%= link_to 'Dokumentácia', open_data_path(anchor: :ruz), class: 'btn btn-default' %>
          <%= link_to 'API', open_api_path(anchor: :ruz), class: 'btn btn-default' %>
        </p>
        <p>
          <small>Zdroj: Register účtovných závierok, Ministerstvo financií Slovenskej republiky.</small>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <h3>Dlžníci Sociálnej poisťovne</h3>
        <p class="lead">Databáza dlžníkov Sociálnej poisťovne.</p>
        <p class="btn-row">
          <a href="<%= @dump_urls[:socpoist] %>?torrent" class="btn btn-default"><i class="glyphicon glyphicon-cloud-download"></i> <strong>socpoist.sql.gz.torrent</strong> <%= @dump_sizes[:socpoist] %></a>
          <%= link_to 'Dokumentácia', open_data_path(anchor: :socpoist), class: 'btn btn-default' %>
          <%= link_to 'API', open_api_path(anchor: :socpoist), class: 'btn btn-default' %>
        </p>
        <p>
          <small>Zdroj: Zoznamy dlžníkov, Sociálna poisťovňa.</small>
        </p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h3>Dlžníci Všeobecnej zdravotnej poisťovne</h3>
        <p class="lead">Databáza dlžníkov Všeobecnej zdravotnej poisťovne.</p>
        <p class="btn-row">
          <a href="<%= @dump_urls[:vszp] %>?torrent" class="btn btn-default"><i class="glyphicon glyphicon-cloud-download"></i> <strong>vszp.sql.gz.torrent</strong> <%= @dump_sizes[:vszp] %></a>
          <%= link_to 'Dokumentácia', open_data_path(anchor: :vszp), class: 'btn btn-default' %>
          <%= link_to 'API', open_api_path(anchor: :vszp), class: 'btn btn-default' %>
        </p>
        <p>
          <small>Zdroj: Zoznamy dlžníkov, Všeobecná zdravotná poisťovňa.</small>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <h3>Centrálny register zmlúv</h3>
        <p class="lead">Databáza zmlúv centrálneho registra zmlúv od&nbsp;roku 2011.</p>
        <p class="btn-row">
          <a href="<%= @dump_urls[:crz] %>?torrent" class="btn btn-default"><i class="glyphicon glyphicon-cloud-download"></i> <strong>crz.sql.gz.torrent</strong> <%= @dump_sizes[:crz] %></a>
          <%= link_to 'Dokumentácia', open_data_path(anchor: :crz), class: 'btn btn-default' %>
          <%= link_to 'API', open_api_path(anchor: :crz), class: 'btn btn-default' %>
        </p>
        <p>
          <small>Zdroj: data.gov.sk, Centrálny register zmlúv, Úrad vlády Slovenskej republiky.</small>
        </p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h3>Register projektov v MetaIS</h3>
        <p class="lead">Informácie o projektoch rozvoja IT z centrálneho metainformačného systému verejnej správy.</p>
        <p class="btn-row">
          <a href="<%= @dump_urls[:metais] %>?torrent" class="btn btn-default"><i class="glyphicon glyphicon-cloud-download"></i> <strong>metais.sql.gz.torrent</strong> <%= @dump_sizes[:metais] %></a>
          <%= link_to 'Dokumentácia', open_data_path(anchor: :metais), class: 'btn btn-default' %>
        </p>
        <p>
          <small>Zdroj: Centrálny metainformačný systém verejnej správy</small>
        </p>
      </div>
    </div>
  </section>

  <hr>

  <section>
    <div class="well premium">
      <h3>Nenašli ste čo ste hľadali?</h3>
      <p class="lead">Máte nápad na službu alebo vylepšenie? Potrebujete iné dáta? Využívate tieto dáta? <strong><%= mail_to 'ekosystem@slovensko.digital', 'Ozvite sa nám' %></strong>.</p>
    </div>
  </section>
</div>
