<div class="consultations">
  <div id="header">
    <div class="container">
      <div class="col-md-6 titles">
        <h1>
          <strong>Konzultačné služby</strong>
        </h1>
        <p class="lead">
          Analýza a konzultácie projektov podľa vášho individuálneho zadania.
        </p>
      </div>
      <hr />
    </div>
  </div>

  <div id="how" class="container">
    <br/><br/>
    <div class="col-sm-12 text-center">
      <p class="lead">Všetky konzultačné či analytické služby poskytujeme vždy na&nbsp;mieru podľa vašej potreby a&nbsp;na&nbsp;základe individuálneho zadania. Kontaktujte nás pre&nbsp;ponuku šitú na&nbsp;mieru práve pre&nbsp;vás.</p>
    </div>

    <div class="col-sm-12">
      <h2 class="text-center">Príklady konzultačných služieb</h2>
    </div>
    <table class="table api">
      <tr>
        <td class="text-right"><i class="fa fa-check"></i></td>
        <td class="text-left">Zmapovanie možností a&nbsp;legislatívneho rámca pre&nbsp;váš projekt (napr. podpisovanie, prihlasovanie, obstarávanie)</td>
      </tr>
      <tr>
        <td class="text-right"><i class="fa fa-check"></i></td>
        <td class="text-left">Dátove služby - zmapovanie dostupnosti údajov, možností integrácie</td>
      </tr>
      <tr>
        <td class="text-right"><i class="fa fa-check"></i></td>
        <td class="text-left">Optimalizácia procesov - konzultácie k&nbsp;zjednodušeniu agendy</td>
      </tr>
      <tr>
        <td class="text-right"><i class="fa fa-check"></i></td>
        <td class="text-left">Pripomienkovanie projektov pred&nbsp;spustením (UX, bezpečnosť)</td>
      </tr>
    </table>
  </div>

  <div id="pricing" class="container">
    <div class="mt-5 text-center">
      <h2>Cenník</h2>
      <p class="lead text-muted">
        V prípade záujmu o&nbsp;konzultačné služby nás kontaktujte. Spoločne si prejdeme Vašu situáciu a&nbsp;potreby a&nbsp;pripravíme vám cenovú ponuku na&nbsp;mieru. Hodinová sadzba našej práce je 50€/hodinu.
      </p><br/>
    </div>
  </div>


  <div id="kontakt" class="container">
    <h2>Kontaktný formulár</h2>
    <p class="lead">
      Nechajte nám Váš emailový kontakt alebo nám napíšte na <a href="mailto:ekosystem@slovensko.digital">ekosystem@slovensko.digital</a>. <em>Tešíme sa na spoluprácu.</em>
    </p>

    <div id="consultations-error" style="display: none;">
      <%= render 'services/share/flash_message', {type: :alert, message: 'Vyplňte prosím email a skúste znova.'} %>
    </div>
    <div id="consultations-form-sent" style="display: none;">
      <%= render 'services/share/flash_message', {type: :notice, message: 'Ďakujeme, za Váš záujem. Budeme Vás kontaktovať cez zadaný email.'} %>
    </div>

    <iframe name="form-result" style="display: none;"></iframe>
    <div>
      <%= form_tag 'https://docs.google.com/forms/d/e/1FAIpQLSci9fIT9iIfu-5XXjNuZjgMfIcuoXcoCR_qMKcubz-hSIT-yA/formResponse', target: 'form-result', id: 'consultations-form' do %>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <b><%= label_tag 'emailAddress', 'Email', class: 'control-label' %></b>
              <%= email_field_tag 'emailAddress', nil, class: 'form-control form-control-lg', id: 'consultations-email' %>
            </div>
          </div>
          <div class="col-md-4">
            <%= label_tag :a, '&nbsp'.html_safe %> <br>
            <%= button_tag id: 'submit_to_consultations', class: 'btn btn-default btn-lg btn-strong' do %>
              <strong>Odoslať</strong>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br /><br />
</div>
