<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<%= javascript_include_tag "#{ENV.fetch('AUTOFORM_URL')}/assets/autoform.js" %>

<div class="container autoform">
  <h1><strong>Autoform</strong></h1>
  <p class="lead">Automatické vypĺňanie kontaktných a fakturačných údajov o právnických osobách a SZČO. <br><em>Vždy aktuálne údaje, rýchle a bez chýb.</em></p>

  <hr>

  <h2>Ukážkové použitie</h2>
  <p class="lead"><em>Začnite písať názov právnickej osoby prípadne SZČO, alebo zadajte IČO.</em> Zvyšok sa doplní automaticky.</p>
  <%= form_tag '#', data: {'slovensko-digital-autoform': ENV.fetch('AUTOFORM_ACCESS_TOKEN') } do %>
    <!-- First row -->
    <div class="row">
      <section>
        <div class="col-md-5 col-md-pad">
          <%= label_tag :name, 'Názov' %>
          <%= text_field_tag :name, nil, class: 'form-control input-lg', autocomplete: 'off', data: {'slovensko-digital-autoform': 'name'} %>
          <p class="help-block">Napríklad: Slovensko.Digital, Martinus</p>
        </div>
        <div class="col-md-2 col-md-offset-1 col-md-pad">
          <%= label_tag :cin, 'IČO' %>
          <%= text_field_tag :cin, nil, class: 'form-control input-lg', data: {'slovensko-digital-autoform': 'cin'} %>
          <p class="help-block">Napríklad: 36421928</p>
        </div>
      </section>
    </div>

    <!-- Other rows -->
    <div class="row">
      <!-- First column -->
      <div class="col-md-5">
        <section>
          <%= label_tag :formatted_address, 'Adresa' %>
          <%= text_field_tag :formatted_address, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'formatted-address'} %>
        </section>

        <section>
          <div class="row">
            <div class="col-md-8 col-md-pad">
              <%= label_tag :street, 'Ulica' %>
              <%= text_field_tag :street, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'street'} %>
            </div>

            <div class="col-md-2 col-md-pad">
              <%= label_tag :reg_number, 'Súpisné&nbsp;č.'.html_safe %>
              <%= text_field_tag :reg_number, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'reg-number'} %>
            </div>

            <div class="col-md-2 col-md-pad">
              <%= label_tag :building_number, 'Orient.&nbsp;č.'.html_safe %>
              <%= text_field_tag :building_number, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'building-number'} %>
            </div>
          </div>
        </section>

        <section>
          <div class="row">
            <div class="col-md-5 col-md-pad">
              <%= label_tag :postal_code, 'PSČ' %>
              <%= text_field_tag :postal_code, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'postal-code'} %>
            </div>

            <div class="col-md-7 col-md-pad">
              <%= label_tag :municipality, 'Obec' %>
              <%= text_field_tag :municipality, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'municipality'} %>
            </div>
          </div>
        </section>

        <section>
          <div class="row">
            <div class="col-md-7">
              <%= label_tag :country, 'Krajina' %>
              <%= text_field_tag :country, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'country'} %>
            </div>
          </div>
        </section>
      </div>

      <!-- Second column -->
      <div class="col-md-5 col-md-offset-1">
        <section>
          <div class="row">
            <div class="col-md-5 col-md-pad">
              <%= label_tag :tin, 'DIČ' %>
              <%= text_field_tag :tin, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'tin'} %>
            </div>
            <div class="col-md-5 col-md-pad">
              <%= label_tag :vatin, 'IČ-DPH' %>
              <%= text_field_tag :vatin, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'vatin'} %>
            </div>
          </div>
        </section>

        <section>
          <div class="row">
            <div class="col-md-7 col-md-pad">
              <%= label_tag :registration_office, 'Registrátor' %>
              <%= text_field_tag :registration_office, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'registration-office'} %>
            </div>

            <div class="col-md-5 col-md-pad">
              <%= label_tag :registration_number, 'Registračné číslo' %>
              <%= text_field_tag :registration_number, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'registration-number'} %>
            </div>
          </div>
        </section>

        <section>
          <div class="row">
            <div class="col-md-10 col-md-pad">
              <%= label_tag :legal_form, 'Právna forma' %>
              <%= text_field_tag :legal_form, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'legal-form'} %>
            </div>
          </div>
        </section>
      </div>
    </div>
  <% end %>
  <p class="lead">Úplný zoznam údajov, ktoré sú dostupné <%= link_to 'nájdete v dokumentácii', integration_manual_services_autoform_index_path(anchor: 'postup-integrácie') %>.</p>

  <section id="clients">
    <h2 class="text-center">Spokojní zákazníci</h2>

    <div class="row">
      <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-md-8 col-md-offset-2">
              <div>
                <img src="<%= path_to_image('clients/people/katarina_jandova_profesia.png') %>" style="height: 15ex" alt="Katarína Jandová">
                <div>
                  <p class="text-center">&quot;V Profesii využívame službu Autoform už niekoľko rokov.
                    <b>Vďaka nej stačí zákazníkom Profesie pri registrácií vyplniť iba názov spoločnosti, o zvyšok sa postará Autoform.</b>
                    Nielenže sme tým <b>zvýšili počet úspešných registrácií</b>, tiež sme tým <b>znížili chybovosť firiem pri vypĺňaní dôležitých údajov.</b>&quot
                  </p>
                  <p class="client-name"><i>Katarína Jandová</i></p>
                  <p><i>Produktová manažérka Profesia.sk</i></p>
                  <%= link_to 'https://www.profesia.sk', target: '_blank', title: 'Profesia.sk' do %>
                    <%= image_tag 'clients/profesia.png', width: '100', alt: 'Profesia.sk' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="col-md-8 col-md-offset-2">
              <div>
                <img src="<%= path_to_image('clients/people/lubos_lahky_websupport.png') %>" style="height: 15ex" alt="Ľuboš Ľahký">
                <div>
                  <p class="text-center">&quot;Jednoduchosť je to, čo sa snažíme priniesť zákazníkom.
                    <b>Registrácia nového účtu alebo domény vie byť zdĺhavá, ale presne s tým nám pomohol Autoform od Slovensko.Digital.</b>
                    Stačí meno alebo IČO a zázrak sa stane.&quot;
                  </p>
                  <p class="client-name"><i>Ľuboš Ľahký</i></p>
                  <p><i>CMO Websupport</i></p>
                  <%= link_to 'https://www.websupport.sk', target: '_blank', title: 'Websupport' do %>
                    <%= image_tag 'clients/websupport.png', width: '200', alt: 'Websupport' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <a class="left carousel-control" href="#carousel-testimonials" role="button" data-slide="prev">
          <span class="icon-prev" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-testimonials" role="button" data-slide="next">
          <span class="icon-next" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <h3 class="text-center">Ďalší spokojní zákazníci</h3>
    <div class="row">
      <div class="col-md-4 text-center">
        <%= link_to 'http://www.zlavomat.sk', target: '_blank' do %>
          <%= image_tag 'clients/zlavomat.png', alt: 'Zlavomat.sk' %>
        <% end %>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to 'http://www.rozpoctovarada.sk', target: '_blank' do %>
          <%= image_tag 'clients/rrz.png', alt: 'Rada pre rozpočtovú zodpovednosť' %>
        <% end %>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to 'http://vibration.sk', target: '_blank' do %>
          <%= image_tag 'clients/vibration.png', alt: 'vibration.sk' %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-center">
        <%= link_to 'https://bastadigital.com/', target: '_blank' do %>
          <%= image_tag 'clients/basta-digital.png', alt: 'Basta digital' %>
        <% end %>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to 'https://www.csob.sk/podnikatelia-firmy', target: '_blank' do %>
          <%= image_tag 'clients/csob_logo.png', alt: 'ČSOB' %>
        <% end %>
      </div>
    </div>

    <div class="row">
    </div>
  </section>

  <section>
    <h2>Registrácia</h2>
    <p class="lead">Jednoduchá registrácia, <em>až 256 vyhľadávaní mesačne <strong>zadarmo</strong></em>. Viac vyhľadávaní podľa <%= link_to 'cenníka', pricing_path(anchor: 'autoform') %>.</p>

    <div id="autoform-error" style="display: none;">
      <%= render 'services/share/flash_message', {type: :alert, message: 'Niektoré údaje ste nezadali správne. Opravte ich prosím a skúste znova.'} %>
    </div>
    <div id="autoform-form-sent" style="display: none;">
      <%= render 'services/share/flash_message', {type: :notice, message: 'Žiadosť o registráciu bola odoslaná na schválenie. Ďakujeme za Váš záujem a budeme Vás kontaktovať.'} %>
    </div>

    <div id="autoform_flash"></div>
    <div class="row" id="autoform_client_form_wrapper">
      <iframe name="form-result" style="display: none;"></iframe>
      <%= form_tag 'https://docs.google.com/forms/d/1TpYNJfBQVGt4lmKP-wrXGkok2bo-Y6mzpmeUsJTnRis/formResponse', target: 'form-result', id: 'autoform-form' do %>
        <div class="col-md-3 col-md-pad">
          <div class="form-group">
            <%= label_tag 'entry.204431983', 'Email', class: 'control-label' %>
            <%= email_field_tag 'entry.204431983', nil, class: 'form-control input-lg', id: 'autoform-email' %>
          </div>
        </div>
        <div class="col-md-3 col-md-pad">
          <div class="form-group">
            <%= label_tag 'entry.1349114640', 'Doména', class: 'control-label' %>
            <%= text_field_tag 'entry.1349114640', nil, class: 'form-control input-lg', id: 'autoform-domain' %>
            <p class="help-block">Napríklad: www.websupport.sk</p>
          </div>
        </div>
        <div class="col-md-4 col-md-pad">
          <%= label_tag :a, '&nbsp'.html_safe %> <br>
          <%= button_tag id: 'submit_to_autoform', class: 'btn btn-default btn-lg' do %>
            <strong>Zaregistrovať</strong>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-pad">
        <br>
        <p class="text-muted">Registráciou sa zaväzujete dodržiavať <%= link_to 'podmienky používania služieb Ekosystému', services_terms_path %>.</p>
      </div>
    </div>
  </section>

  <section id="integracny-manual">
    <h2>Integrácia</h2>
    <p class="lead">
      Jednoduchá integrácia na <%= link_to 'zopár riadkov HTML kódu', integration_manual_services_autoform_index_path(anchor: 'javascript') %>,
      alebo <%= link_to 'cez REST API', integration_manual_services_autoform_index_path(anchor: 'api')%>.
    </p>
    <%= link_to integration_manual_services_autoform_index_path , class: 'btn btn-default btn-lg' do %>
      <strong>Integračný manuál</strong>
    <% end %>
  </section>

  <section>
    <h2><%= link_to 'Cenník', pricing_path(anchor: 'autoform') %></h2>
  </section>
</div>
