<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<%= javascript_include_tag "#{ENV.fetch('AUTOFORM_URL')}/assets/autoform.js" %>

<div class="container autoform">
  <h1><strong>Autoform</strong></h1>
  <p class="lead">Automatické vypĺňanie kontaktných a fakturačných údajov o právnických osobách a SZČO. <br><em>Vždy aktuálne údaje, rýchle a bez chýb.</em></p>

  <hr>

  <h2>Ukážkové použitie</h2>
  <p class="lead"><em>Začnite písať názov právnickej osoby prípadne SZČO, alebo zadajte IČO.</em> Zvyšok sa doplní automaticky.</p>
  <%= form_tag '#', data: {'slovensko-digital-autoform': ENV.fetch('AUTOFORM_ACCESS_TOKEN') } do %>
      <section>
        <div class="row">
          <div class="col-md-5 col-md-pad">
            <%= label_tag :name, 'Názov' %>
            <%= text_field_tag :name, nil, class: 'form-control input-lg', autocomplete: 'off', data: {'slovensko-digital-autoform': 'name'} %>
            <p class="help-block">Napríklad: Slovensko.Digital, Martinus</p>
          </div>
          <div class="col-md-2 col-md-offset-1 col-md-pad">
            <%= label_tag :cin, 'IČO' %>
            <%= text_field_tag :cin, nil, class: 'form-control input-lg', data: {'slovensko-digital-autoform': 'cin'} %>
            <p class="help-block">Napríklad: 36421928</p>
          </div>
        </div>
      </section>

      <section>
        <div class="row">
          <div class="col-md-5 col-md-pad">
            <%= label_tag :formatted_address, 'Adresa' %>
            <%= text_field_tag :formatted_address, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'formatted-address'} %>
          </div>
          <div class="col-md-2 col-md-offset-1 col-md-pad">
            <%= label_tag :tin, 'DIČ' %>
            <%= text_field_tag :tin, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'tin'} %>
          </div>
          <div class="col-md-2 col-md-pad">
            <%= label_tag :vatin, 'IČ-DPH' %>
            <%= text_field_tag :vatin, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'vatin'} %>
          </div>
        </div>
      </section>

      <section>
        <div class="row">
          <div class="col-md-3 col-md-pad">
            <%= label_tag :street, 'Ulica' %>
            <%= text_field_tag :street, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'street'} %>
          </div>

          <div class="col-md-1 col-md-pad">
            <%= label_tag :reg_number, 'Súpisné&nbsp;č.'.html_safe %>
            <%= text_field_tag :reg_number, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'reg-number'} %>
          </div>

          <div class="col-md-1 col-md-pad">
            <%= label_tag :building_number, 'Orient.&nbsp;č.'.html_safe %>
            <%= text_field_tag :building_number, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'building-number'} %>
          </div>

          <div class="col-md-3 col-md-offset-1 col-md-pad">
            <%= label_tag :registration_office, 'Registrátor' %>
            <%= text_field_tag :registration_office, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'registration-office'} %>
          </div>

          <div class="col-md-2 col-md-pad">
            <%= label_tag :registration_number, 'Registračné číslo' %>
            <%= text_field_tag :registration_number, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'registration-number'} %>
          </div>
        </div>
      </section>

      <section>
        <div class="row">
          <div class="col-md-2 col-md-pad">
            <%= label_tag :postal_code, 'PSČ' %>
            <%= text_field_tag :postal_code, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'postal-code'} %>
          </div>

          <div class="col-md-3 col-md-pad">
            <%= label_tag :municipality, 'Obec' %>
            <%= text_field_tag :municipality, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'municipality'} %>
          </div>

          <div class="col-md-4 col-md-offset-1 col-md-pad">
            <%= label_tag :legal_form, 'Právna forma' %>
            <%= text_field_tag :legal_form, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'legal-form'} %>
          </div>
        </div>
      </section>

      <section>
        <div class="row">
          <div class="col-md-3 col-md-pad">
            <%= label_tag :country, 'Krajina' %>
            <%= text_field_tag :country, nil, class: 'form-control', disabled: true, data: {'slovensko-digital-autoform': 'country'} %>
          </div>
        </div>
      </section>
  <% end %>

  <section id="clients">
    <h2 class="text-center">Naši spokojní používatelia</h2>

    <div class="row">
      <div class="col-md-4 text-center">
        <%= link_to 'http://www.zlavomat.sk', target: '_blank' do %>
          <%= image_tag 'clients/zlavomat.png', alt: 'Zlavomat.sk' %>
        <% end %>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to 'http://www.rozpoctovarada.sk', target: '_blank' do %>
          <%= image_tag 'clients/rrz.png', alt: 'Rada pre rozpočtovú zodpovednosť' %>
        <% end %>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to 'http://vibration.sk', target: '_blank' do %>
          <%= image_tag 'clients/vibration.png', alt: 'vibration.sk' %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-center">
        <%= link_to 'https://bastadigital.com/', target: '_blank' do %>
          <%= image_tag 'clients/basta-digital.png', alt: 'Basta digital' %>
        <% end %>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to 'http://websupport.sk', target: '_blank' do %>
          <%= image_tag 'clients/websupport.png', alt: 'WebSupport.sk' %>
        <% end %>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to 'https://www.csob.sk/podnikatelia-firmy', target: '_blank' do %>
          <%= image_tag 'clients/csob_logo.png', alt: 'ČSOB' %>
        <% end %>
      </div>
    </div>

    <div class="row">
    </div>
  </section>

  <section>
    <h2>Registrácia</h2>
    <p class="lead">Jednoduchá registrácia, <em>až 256 vyhľadávaní mesačne <strong>pre kohokoľvek</strong></em>. Viac vyhľadávaní po dohode.</p>

    <%= render_registration_form %>

    <div class="row">
      <div class="col-md-10 col-md-pad">
        <br>
        <p class="text-muted">Registráciou sa zaväzujete dodržiavať <%= link_to 'podmienky používania služieb Ekosystému', services_terms_path %>.</p>
      </div>
    </div>
  </section>

  <section id="integracny-manual">
    <h2>Integrácia</h2>
    <p class="lead">
      Jednoduchá integrácia na <%= link_to 'zopár riadkov HTML kódu', integration_manual_services_autoform_index_path(anchor: 'javascript') %>,
      alebo <%= link_to 'cez REST API', integration_manual_services_autoform_index_path(anchor: 'api')%>.
    </p>
    <%= link_to integration_manual_services_autoform_index_path , class: 'btn btn-default btn-lg' do %>
      <strong>Integračný manuál</strong>
    <% end %>
  </section>
</div>
