<div><strong>Staršie verzie cenníka</strong></div>
<ul class="list-unstyled">
  <li><%= link_to 'platný od 20.04.2022 do 14.06.2023', pricing_v8_services_govbox_index_path %></li>
  <li><%= link_to 'platný od 09.11.2020 do 19.04.2022', pricing_v7_services_govbox_index_path %></li>
  <li><%= link_to 'platný od 29.10.2020 do 08.11.2021', pricing_v6_services_govbox_index_path %></li>
  <li><%= link_to 'platný od 01.10.2020 do 28.10.2020', pricing_v5_services_govbox_index_path %></li>
  <li><%= link_to 'platný od 01.06.2020 do 30.09.2020', pricing_v4_services_govbox_index_path %></li>
  <li><%= link_to 'platný od 28.9.2019 do 31.05.2020', pricing_v3_services_govbox_index_path %></li>
  <li><%= link_to 'platný od 08.01.2018 do 27.09.2019', pricing_v2_services_govbox_index_path %></li>
  <li><%= link_to 'platný od 09.06.2017 do 07.01.2018', pricing_v1_services_govbox_index_path %></li>
</ul>
