<div class="govbox">
  <div id="header">
    <div class="container">
      <div class="row flight">
        <div class="col-md-6 titles">
          <h1>GovBox</h1>
          <p class="lead lead-short">Jednoduchý prístup k štátnej elektronickej schránke
            <strong>priamo cez Váš email a&nbsp;bez elektronického občianskeho preukazu.</strong></p>
          <p class="lead">
            <mark>Vedeli ste, že od 1.júla 2017 štát posiela právnickým osobám zapísaným v&nbsp;obchodnom registri úradné zásielky do&nbsp;elektronickej schránky? GovBox ich pošle na&nbsp;Váš email.</mark>
          </p>
          <%= link_to register_step1_services_govbox_index_path, class: 'btn btn-primary btn-lg' do %>
            <strong>Kúpiť GovBox</strong>
          <% end %>
        </div>
        <div class="col-md-6 text-center">
          <%= image_tag 'services/govbox/header.png', srcset: "#{path_to_image('services/govbox/header@2x.png')} 2x", class: 'hidden-sm-down' %>
          <%= image_tag 'services/govbox/device.png', srcset: "#{path_to_image('services/govbox/device@2x.png')} 2x", class: 'img-fluid hidden-md-up' %>
        </div>
      </div>
    </div>
  </div>


  <div id="how" class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>Kto môže GovBox používať?</h2>
        <p class="lead text-muted">Všetky právnické osoby ako sú firmy, živnostníci, či neziskové</br> organizácie.
        Pre fyzické osoby GovBox neposkytujeme.</p>
        <p class="lead text-muted">Ak si nie ste istí, či môžete GovBox používať, napíšte nám a radi Vám poradíme.</p>
      </div>
      <div class="col-sm-12 text-center">
        <h2>Ako funguje GovBox?</h2>
        <p class="lead text-muted">Pozrite si prečo je GovBox lepší ako slovensko.sk:</p>
        <div class="weirdo"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 theirs">
        <h2 class="bordered text-center">Štátna schránka<br/>
          <small>na slovensko.sk</small>
        </h2>
        <table class="table">
          <tr>
            <td class="text-right"><i class="fa fa-clock-o text-danger"></i></td>
            <td class="text-left"><strong>6 krokov</strong>
              <i class="fa fa-question-circle" data-toggle="tooltip" data-toggle-class="text-left" data-html="true" title="1. vybavenie elektronického občianskeho preukazu na polícii.<br>2. vyzdvihnutie občianskeho preukazu na polícii (lehota 30 dní). <br>3. inštalácia softvéru.<br> 4. navigácia na slovensko.sk<br> 5. zadanie PIN.<br> 6. otvorenie správy v&nbsp;schránke.<br><strong>Nutnosť opakovať kroky 4,5,6 pre čítanie nových správ.</strong>"></i>
            </td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-clock-o text-danger"></i></td>
            <td class="text-left"><strong>1 hodina</strong> klikania</td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-clock-o text-danger"></i></td>
            <td class="text-left"><strong>2 návštevy</strong> na polícii</td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-clock-o text-danger"></i></td>
            <td class="text-left">emailom <strong>len upozornenie o&nbsp;novej správe</strong></td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-clock-o text-danger"></i></td>
            <td class="text-left">opakované prihlasovanie <strong>pomocou čítačky</strong></td>
          </tr>
        </table>
      </div>
      <div class="col-sm-6 ours">
        <h2 class="bordered text-center">GovBox<br/>
          <small>od Slovensko.Digital</small>
        </h2>

        <table class="table">
          <tr>
            <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
            <td class="text-left"><strong>3 kroky</strong>
              <i class="fa fa-question-circle" data-toggle="tooltip" data-toggle-class="text-left" data-html="true" title="1. jednoduchá registrácia online.<br>2. podpis splnomocnenia u&nbsp;notára.<br> 3. zaslanie dokumentov poštou. <br><strong>Automatické preposielanie správ na email.</strong>"></i>
            </td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
            <td class="text-left"><strong>0 hodín</strong> klikania</td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
            <td class="text-left"><strong>1 návšteva</strong> ľubovoľného notára</td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
            <td class="text-left">preposielanie <strong>úplných správ aj s&nbsp;prílohami</strong></td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
            <td class="text-left">preposielanie správ <strong>bez prihlasovania</strong></td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
            <td class="text-left">
              <mark>NAVYŠE</mark>
              zobrazenie <strong>na mobile</strong></td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
            <td class="text-left">
              <mark>NAVYŠE</mark>
              <strong>platby priamo z mobilu</strong> cez appku vašej banky alebo QR kód na mobile</td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
            <td class="text-left">
              <mark>NAVYŠE</mark>
              týždenný <strong>sumár</strong> Vám pripomenie neprebratú správu</td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
            <td class="text-left">
              <mark>NAVYŠE</mark>
              <strong>prehľadnejšie správy</strong></td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
            <td class="text-left">
              <mark>NAVYŠE</mark>
              <strong>podporujete Slovensko.Digital</strong></td>
          </tr>
        </table>
      </div>
      <div class="weirdo2"></div>
    </div>
  </div>

  <div id="pricing" class="container">
    <div class="mt-5 text-center">
      <h2>Cenník</h2>
      <p class="lead text-muted">
        <strong>Platíte iba ak GovBox naozaj používate.</strong><br/> Príjmy idú na aktivity občianskeho združenia Slovensko.Digital.
      </p><br/>
    </div>

    <div class="shadow">
      <table class="table table-pricing table-responsive">
        <tr>
          <th><strong>Pripojenie na schránku</strong><br><span class="text-muted">Jednorázový poplatok</span></th>
          <% if ENV['GOVBOX_REFERRAL_CODES'].split(',').include? cookies[:ref] %>
            <td><em><strike>9€</strike>&emsp;ZADARMO</em></td>
          <% else %>
            <td><em>9€</em></td>
          <% end %>
        </tr>
        <tr>
          <th><strong>Prvý mesiac</strong></th>
          <td>bezplatne</td>
        </tr>
        <tr>
          <th><strong>Mesačný poplatok</strong><br/><span class="text-muted">do 20 správ mesačne</span></th>
          <td class="w-50">
            <em>8€ / mesiac</em>
          </td>
        </tr>
        <tr>
          <th><strong>Mesačný poplatok</strong><br/><span class="text-muted">do 0 správ za mesiac</span></th>
          <td class="w-50">
            0€ / mesiac
          </td>
        </tr>
        <tr>
          <td colspan="2" class="text-center pricing-more">
            <p>Ak Vám prichádza viac ako 20 správ mesačne, pozrite si <%= link_to 'kompletný cenník', pricing_services_govbox_index_path %>.<br/> Potrebujete integráciu na Váš interný systém cez API?<br><%= link_to 'Kontaktujte nás', 'https://slovensko.digital/kontakt', class: 'font-weight-bold' %></p>
             <p>Máte ďalšie otázky? Prečítajte si <%= link_to 'odpovede na časté otázky', faq_services_govbox_index_path, class: 'text-muted' %>.</p>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div id="registration" class="container">
    <div class="row">
      <div class="col-md-12">
        <br/><br/><br/>
        <h2>Ako získam GovBox?</h2><br/>
        <p class="lead text-muted">Jednoduchá registrácia a jedna návšteva notára:
          <span class="desktop"><br/></span><strong>všetky potrebné dokumenty vyplníme za Vás</strong>.</p>
      </div>
    </div>
    <br/><br/>

    <div class="row">
      <hr class="horizontal"/>
      <div class="col-md-4">
        <div class="number">1</div>
        <span class="what">Zaregistrujete sa a&nbsp;zaslané dokumenty si vytlačíte.</span>
      </div>
      <div class="col-md-4">
        <div class="number">2</div>
        <span class="what">Dokumenty podpíšte u&nbsp;notára a&nbsp;zašlete nám ich poštou.</span>
      </div>
      <div class="col-md-4">
        <div class="last">
          <div class="number"><i class="fa fa-check"></i></div>
          <span class="what"><strong>Hotovo!</strong> Onedlho Vám začnú na zvolený email chodiť všetky správy zo štátnej schránky.</span>
        </div>
      </div>
    </div>

    <div class="mt-5 mb-5">
      <%= link_to register_step1_services_govbox_index_path, class: 'btn btn-success btn-xl' do %>
        <strong>Mám záujem o GovBox</strong>
      <% end %>
    </div>
  </div>

    <section id="clients" class="container">
      <h2 class="text-center">Spokojní zákazníci</h2>

      <div class="row">
        <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="col-md-8 col-md-offset-2">
                <div>
                  <img src="<%= path_to_image('clients/people/dan_kollar_cyklokoalicia.png') %>" style="height: 15ex" alt="Dan Kollár">
                    <p class="text-center">&quot;<b>V Cyklokoalícii nám služba GovBox velmi zjednodušuje život.</b>
                      Veľa vecí súvisiacich s rozvojom pešej a cyklistickej dopravy sa totiž deje cez podania a úrady, ktoré nám denne posielajú množstvo informácií o konaniach a podobne.
                      <b>Takto ich dostaneme jednoducho do emailu a vieme s nimi následne ďalej efektívne pracovať.</b>&quot;
                    </p>
                    <p class="client-name"><i>Dan Kollár</i></p>
                    <p><i>Prezident Cyklokoalícia</i></p>
                  <%= link_to 'https://www.cyklokoalicia.sk', target: '_blank', title: 'Crystal Consulting' do %>
                    <%= image_tag 'clients/cyklokoalicia.png', width: '200', alt: 'Cyklokoalícia' %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="col-md-8 col-md-offset-2">
                <div>
                  <img src="<%= path_to_image('clients/people/martina_hanulova_benu.png') %>" style="height: 15ex" alt="Mgr. Martina Hanulová">
                  <p class="text-center">&quot;So službou GovBox máme ako spoločnosť BENU Slovensko, a.s. len pozitívne skúsenosti, <b>príjímanie správ je rýchle a bezproblémové</b>.
                    Počas používania sme sa nestretli s negatívnymi skúsenosťami. Určite by som GoxBox odporučila, nakoľko zamestnanec pri svojej práci nemá možnosť ani šancu každý deň sledovať príjem správ do elektronickej schránky.
                    <b>Preposielanie z GovBoxu je pri súčasnej elektronizácii veľkou pomocou</b>.&quot;
                    </p>
                    <p class="client-name"><i>Mgr. Martina Hanulová</i></p>
                    <p><i>Operations & Project Manager, BENU Slovensko, a.s.</i></p>
                  <%= link_to 'https://www.benulekaren.sk', target: '_blank', title: 'BENU Slovensko, a.s.' do %>
                    <%= image_tag 'clients/benu.png', width: '170', alt: 'BENU Slovensko, a.s.' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <a class="carousel-control-prev" href="#carousel-testimonials" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-testimonials" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
</div>
