<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<%= javascript_include_tag ENV.fetch('AUTOFORM_JAVASCRIPT_URL') %>

<div class="container">
  <%= form_tag register_step2_services_govbox_index_path, data: {'slovensko-digital-autoform': ENV.fetch('AUTOFORM_ACCESS_TOKEN')} do %>
    <div class="row">
      <div class="col-lg-8">
        <h1 class="form-title">Registrácia k službe GovBox</h1>
        <p class="form-subtitle lead">Zadajte údaje právnickej osoby, pre ktorú máte záujem zriadiť službu.</p>

        <div class="row">
          <div class="col-md-8 form-group">
            <%= label_tag :legal_subject_name, 'Názov právnickej osoby' %>
            <%= text_field_tag :legal_subject_name, params[:legal_subject_name], class: 'form-control input-lg', required: true, autocomplete: 'off', data: {'slovensko-digital-autoform': 'name'} %>
            <span class="form-text text-muted">Napríklad: Slovensko.Digital, Martinus</span>
          </div>
          <div class="col-md-4 form-group">
            <%= label_tag :cin, 'IČO' %>
            <%= text_field_tag :cin, params[:cin], class: 'form-control input-lg', required: true, data: {'slovensko-digital-autoform': 'cin'} %>
            <span class="form-text text-muted">Napríklad: 36421928</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 form-group">
            <%= label_tag :formatted_address, 'Adresa' %>
            <%= text_field_tag :formatted_address, params[:formatted_address], class: 'form-control input-lg', data: {'slovensko-digital-autoform': 'formatted-address'}, disabled: true %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 form-group">
            <%= label_tag :vatin, 'IČ-DPH' %>
            <%= text_field_tag :vatin, params[:vatin], class: 'form-control input-lg', data: {'slovensko-digital-autoform': 'vatin'}, disabled: true %>
          </div>
        </div>
      </div>
    </div>

    <div class="row form-navigation">
      <div class="col-md-4 form-group">
        <%= button_tag class: 'btn btn-primary btn-lg' do %>
          <strong>Ďalej</strong>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
