<div class="container">
  <%= form_tag register_step3_services_govbox_index_path do %>
    <%= render 'hidden_fields_from_step1' %>

    <div class="row">
      <div class="col-lg-8">
        <h1 class="form-title">Údaje štatutára</h1>
        <p class="form-subtitle lead">Zadajte údaje štatutára (napríklad konateľa s.r.o.), ktorý podpíše splnomocnenie na prístup k schránke.</p>

        <% if @statutory_entries %>
          <h6>Vyberte možnosť:</h6>
          <% @statutory_entries.each_with_index do |person, index| %>
            <div class="row my-3">
              <div class="col-md-12">
                <label class="form-check-label">
                  <%= radio_button_tag :statutory_entry, index, false, class: 'form-check-input', data: { given_name: person[:first_name], family_name: person[:last_name], person_formatted_address: format_address(person) } %>
                  <span><%= "#{person[:first_name]} #{person[:last_name]}, #{format_address(person)}" %></span>
                </label>
              </div>
            </div>
          <% end %>
          alebo
          <div class="row my-3">
            <div class="col-md-12">
              <label class="form-check-label">
                <%= radio_button_tag :statutory_entry, nil, false, class: 'form-check-input' %>
                <span>Chcem zadať údaje štatutára ručne</span>
              </label>
            </div>
          </div>
          <script>
            $(document).ready(function () {
              $("#form-input-fields").addClass('collapse hide');
            });

            function fillFormFields(data) {
              $('#given_name').val(data.givenName);
              $('#family_name').val(data.familyName);
              $('#person_formatted_address').val(data.personFormattedAddress);
            }

            $('[id^="statutory_entry"]').change(e => {
              if($('#form-input-fields').is(':visible')) {
                $('#form-input-fields').collapse('hide').on('hidden.bs.collapse', () => fillFormFields(e.target.dataset));
              } else {
                fillFormFields(e.target.dataset);
              }
            });

            $('[id^="statutory_entry"]').last().change(e => {
              $('#form-input-fields').collapse('toggle');
            });
          </script>
        <% end %>

        <div id="form-input-fields" class="mt-3">
          <div class="row">
            <div class="col-md-4 form-group">
              <%= label_tag :given_name, 'Meno' %>
              <%= text_field_tag :given_name, params[:given_name], class: 'form-control input-lg', required: true %>
            </div>
            <div class="col-md-5 form-group">
              <%= label_tag :family_name, 'Priezvisko' %>
              <%= text_field_tag :family_name, params[:family_name], class: 'form-control input-lg', required: true %>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12 form-group">
              <%= label_tag :person_formatted_address, 'Trvalé bydlisko' %>
              <%= text_field_tag :person_formatted_address, params[:person_formatted_address], class: 'form-control input-lg', required: true %>
              <span class="form-text text-muted">Napríklad: Koprivnická 9/B, 841 04 Bratislava</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p class="form-text text-muted mt-3">
              <strong>Poznámka:</strong> Ak za právnickú osobu podpísujú viacerí štatutári naraz, <%= link_to 'kontaktujte nás', 'mailto:podpora@govbox.slovensko.digital' %>.
            </p>
          </div>
        </div>

      </div>
    </div>

    <div class="row form-navigation">
      <div class="col-md-4 form-group">
        <%= button_tag class: 'btn btn-primary btn-lg' do %>
          <strong>Ďalej</strong>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
