<div class="container autoform">
  <%= form_tag register_step5_services_govbox_index_path do %>
      <%= hidden_field_tag :legal_subject_name, params[:legal_subject_name] %>
      <%= hidden_field_tag :cin, params[:cin] %>
      <%= hidden_field_tag :formatted_address, params[:formatted_address] %>
      <%= hidden_field_tag :given_name, params[:given_name] %>
      <%= hidden_field_tag :family_name, params[:family_name] %>
      <%= hidden_field_tag :pin, params[:pin] %>
      <%= hidden_field_tag :person_formatted_address, params[:person_formatted_address] %>
      <%= hidden_field_tag :email, params[:email] %>
      <%= hidden_field_tag :phone, params[:phone] %>
      <%= hidden_field_tag :postal_address, params[:postal_address] %>
      <%= hidden_field_tag :snail_mail, params[:snail_mail] %>

      <div class="row">
        <div class="col-md-6">
          <fieldset>
            <legend>Zabezpečenie konta</legend>
            <div class="row">
              <div class="col-md-7 col-md-pad">
                <%= label_tag :password, 'Zvoľte si heslo' %>
                <%= password_field_tag :password, nil, class: 'form-control input-lg', required: true, pattern: '.{12,}', title: 'Heslo musí mať aspoň 12 znakov.', data: {'password-confirm': :password_confirmation} %>
                <p class="help-block">Potrebné pre otváranie správ do vlastných rúk.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7 col-md-pad">
                <%= label_tag :password_confirmation do %>
                    Heslo <span class="text-muted">(znova)</span>
                <% end %>
                <%= password_field_tag :password_confirmation, nil, class: 'form-control input-lg', required: true %>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <p></p>
      <%= button_tag class: 'btn btn-default btn-lg btn-strong' do %>
          <strong>Zaregistrovať</strong>
      <% end %>
  <% end %>
</div>