<div class="container">
  <%= form_tag register_step5_services_govbox_index_path do %>
    <%= render 'hidden_fields_from_step3' %>
    <%= hidden_field_tag :ga_user_id, '' %>

    <div class="row">
      <div class="col-md-6">
        <h1 class="form-title">Zabezpečenie konta</h1>
        <p class="lead form-subtitle"></p>
        <div class="row">
          <div class="col-md-7 form-group">
            <%= label_tag :password, 'Zvoľte si heslo' %> <span class="text-muted">(aspoň 12 znakov)</span>
            <%= password_field_tag :password, params[:password], class: 'form-control input-lg', required: true, pattern: '.{12,}', title: 'Heslo musí mať aspoň 12 znakov.', data: {'password-confirm': :password_confirmation} %>
            <span class="form-text text-muted">Pre otváranie správ do vlastných rúk.</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 form-group">
            <%= label_tag :password_confirmation do %>
              Heslo <span class="text-muted">(znova)</span>
            <% end %>
            <%= password_field_tag :password_confirmation, params[:password_confirmation], class: 'form-control input-lg', required: true %>
          </div>
        </div>
      </div>
    </div>


    <div class="form-navigation">
      <%= button_tag class: 'btn btn-primary btn-lg' do %>
        <strong>Dokončiť registráciu</strong>
      <% end %>
    </div>
  <% end %>
</div>
