<div class="container">
  <%= form_tag register_step3_services_govbox_index_path do %>
      <div class="row">
        <div class="col-lg-8">
          <h1 class="form-title">Údaje štatutára</h1>
          <p class="form-subtitle lead">Zadajte údaje štatutára (napríklad konateľa s.r.o.), ktorý podpíše splnomocnenie na prístup k schránke.</p>
          <%= hidden_field_tag :legal_subject_name, params[:legal_subject_name] %>
          <%= hidden_field_tag :cin, params[:cin] %>
          <%= hidden_field_tag :formatted_address, params[:formatted_address] %>

          <div class="row">
            <div class="col-md-3 form-group">
              <%= label_tag :first_name, 'Meno' %>
              <%= text_field_tag :first_name, nil, class: 'form-control input-lg', required: true %>
            </div>
            <div class="col-md-4 form-group">
              <%= label_tag :surname, 'Priezvisko' %>
              <%= text_field_tag :surname, nil, class: 'form-control input-lg', required: true %>
            </div>
            <div class="col-md-5 form-group">
              <%= label_tag :pin do %>
                  Rodné číslo <span class="text-muted">(nepovinné)</span>
                  <i class="fa fa-question-circle" data-toggle="tooltip" title="Rodné číslo potrebujeme kvôli zmluve. Ak nám ho nechcete posielať môžete ho do zmluvy vpísať ručne."></i>
              <% end %>
              <%= text_field_tag :pin, nil, class: 'form-control input-lg' %>
              <span class="form-text text-muted">Napríklad: 821101/1234</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 form-group">
              <%= label_tag :person_formatted_address, 'Trvalé bydlisko' %>
              <%= text_field_tag :person_formatted_address, nil, class: 'form-control input-lg', required: true %>
              <span class="form-text text-muted">Napríklad: Koprivnická 9/B, 841 04 Bratislava</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="form-text text-muted mt-3"><strong>Poznámka:</strong> Ak za právnickú osobu podpísujú viacerí štatutári naraz <%= link_to 'kontaktujte nás', 'mailto:podpora@slovensko.digital' %>.</p>
            </div>
          </div>

        </div>
      </div>

      <div class="row form-navigation">
        <div class="col-md-4 form-group">
          <%= button_tag class: 'btn btn-primary btn-lg' do %>
              <strong>Ďalej</strong>
          <% end %>
        </div>
      </div>
  <% end %>
</div>