<div class="container">
  <%= form_tag register_step2_services_govbox_index_path do %>

    <div class="row">
      <div class="col-lg-8">
        <h1 class="form-title">Výber služby</h1>
        <div class="row mt-4">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-md-12">
                <div class="form-check">
                  <label class="form-check-label">
                    <%= radio_button :mode, params[:mode], 'sync_mode', class: 'form-check-input', required: true %>
                    <span>Mám záujem o <strong>GovBox</strong> na preposielanie správ zo schránky na email.</span>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <%= radio_button :mode, params[:mode], 'api_mode', class: 'form-check-input', required: true %>
                    <span>Mám záujem o <strong>GovBox API</strong> na integráciu vlastného informačného systému.</span>
                  </label>
                </div>
                <span class="form-text text-muted">GovBox API nepreposiela správy zo schránky na email, ale umožňuje manipuláciu so schránkou prostredníctvom programového rozhrania (API). Ak neviete, čo to znamená, neváhajte <%= link_to 'nás kontaktovať', 'mailto:podpora@govbox.slovensko.digital' %>.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row form-navigation">
      <div class="col-md-4 form-group">
        <%= button_tag class: 'btn btn-primary btn-lg' do %>
          <strong>Ďalej</strong>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
