<h4>Získanie priebehu konkurzu a vyrovnania</h4>
<p class="docs-endpoint"><code>GET <%= api_data_ov_konkurz_vyrovnanie_issue_url(id: ':id', host: api_host) %></code></p>
<h5>Parametre</h5>
<table class="table table-bordered table-nonfluid">
  <thead>
  <tr>
    <th>Názov</th>
    <th>Typ</th>
    <th>Popis</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><code>id</code></td>
    <td><code>integer</code></td>
    <td>Identifikátor</td>
  </tr>
  </tbody>
</table>
<h5>Odpoveď</h5>
<p><%= link_to 'Popis atribútov', open_data_path(anchor: 'ov.konkurz_vyrovnanie_issues'), class: 'btn btn-default btn-sm' %></p>
<pre class="pre-scrollable"><code class="language-json">{
  "id": 2,
  "raw_issue_id": 1252,
  "court_code": "138",
  "court_name": "Krajský súd v Banskej Bystrici",
  "file_reference": "36-24K 86/99-Jm",
  "corporate_body_name": "Slovenské lučobné závody, a.s. \" v konkurze\"",
  "cin": 31561799,
  "street": "Hlavná 133",
  "building_number": null,
  "city": "Hnúšťa",
  "postal_code": null,
  "country": null,
  "kind_code": "AF",
  "kind_name": "upovedomenie úpadcu a konkurzných veriteľov o konečnej správe o speňažení majetku z podstaty a o vyúčtovaní odmeny a výdavkov správcu",
  "announcement": "\u003cp\u003e\u003cstrong\u003eKRAJSKÝ SÚD, SKUTECKÉHO 7, 974 87  BANSKÁ  BYSTRICA 1\u003c/strong\u003e\u003c/p\u003e\n\n\u003cp\u003e\u003cstrong\u003eoddelenie obchodného súdnictva\u003c/strong\u003e\u003c/p\u003e\n\n\u003cp\u003e\u003cstrong\u003eU p o v e d o m e n i e\u003c/strong\u003e\u003c/p\u003e\n\n\u003cp\u003eo konečnej správe o speňažení majetku z podstaty a o vyúčtovaní odmeny a výdavkov správcov konkurznej podstaty\u003c/p\u003e\n\n\u003cp\u003e \u003c/p\u003e\n\n\u003cp\u003eV konkurznej veci úpadcu: \u003cstrong\u003eSlovenské lučobné závody a. s. Hnúšťa „v konkurze“\u003c/strong\u003e\u003cstrong\u003e, Hlavná 133, 981 11 Hnúšťa, IČO: 31 561 799\u003c/strong\u003e\u003cstrong\u003e,\u003c/strong\u003e\u003c/p\u003e\n\n\u003cp\u003e\u003cstrong\u003esp. zn.:  36-24K 86/99 – Jm,\u003c/strong\u003e\u003c/p\u003e\n\n\u003cp\u003e\u003cstrong\u003esprávca konkurznej podstaty: \u003c/strong\u003epodstaty JUDr. Vladimír Hraško, Ul. Dr. Herza 12,\u003c/p\u003e\n\n\u003cp\u003e984 01 Lučenec\u003cstrong\u003e.\u003c/strong\u003e\u003c/p\u003e\n\n\u003cp\u003e \u003c/p\u003e\n\n\u003cp\u003e            Krajský súd upovedomuje konkurzných veriteľov a úpadcu, že správca konkurznej podstaty predložil súdu konečnú správu o speňažení majetku z podstaty a o vyúčtovaní odmeny a výdavkov správcov (ďalej len „správa“) zo dňa 15. júla 2016, doručenú súdu 18. júla 2016.\u003c/p\u003e\n\n\u003cp\u003e            Správa bude vyvesená na úradnej tabuli konkurzného súdu \u003cstrong\u003edňa 22. júla 2016. \u003c/strong\u003e\u003c/p\u003e\n\n\u003cp\u003ePodklady ku konečnej správe sa nachádzajú k nahliadnutiu v konkurznej kancelárii.\u003c/p\u003e\n\n\u003cp\u003e \u003c/p\u003e\n\n\u003cp style=\"margin-left: 2cm\"\u003e\u003cstrong\u003ePoučenie: \u003c/strong\u003eKonkurzní veritelia a úpadca, môžu \u003cstrong\u003edo 15 dní odo dňa, kedy bola správa vyvesená\u003c/strong\u003e na úradnej tabuli súdu, \u003cstrong\u003epodať proti nej námietky\u003c/strong\u003e na tunajší súd (ust. § 29  ods. 3 zákona č. 328/1991 Zb. o konkurze a vyrovnaní v znení zmien a doplnkov).\u003c/p\u003e\n\n\u003cp style=\"margin-left: 2cm\"\u003e                   Účastníci a ich zástupcovia majú právo nazerať do súdneho spisu a robiť si z neho výpisy a odpisy, ak sú na to vážne dôvody a oprávnené záujmy účastníkov tým nemôžu byť dotknuté (ust. § 97 ods. 1 Civilného sporového poriadku).\u003c/p\u003e\n\n\u003cp\u003e \u003c/p\u003e\n\n\u003cp style=\"margin-left: 2cm\"\u003eV Banskej Bystrici dňa 19. júla 2016.\u003c/p\u003e\n\n\u003cp\u003e \u003c/p\u003e\n\n\u003cp\u003e                                                                                               \u003cstrong\u003eJUDr. Mária Michaleková\u003c/strong\u003e\u003c/p\u003e\n\n\u003cp\u003e\u003cstrong\u003e                                                                                                  vyššia súdna úradníčka\u003c/strong\u003e\u003c/p\u003e\n\n\u003cp\u003e \u003c/p\u003e\n\n\u003cp\u003e \u003c/p\u003e\n\n\u003cp\u003e \u003c/p\u003e\n\n\u003cp\u003e \u003c/p\u003e\n\n\u003cp\u003e \u003c/p\u003e\n",
  "created_at": "2016-07-21T14:26:17.478853Z",
  "updated_at": "2016-07-21T14:26:17.478853Z",
  "bulletin_issue": {
    "id": 1386,
    "year": 2016,
    "number": 140,
    "published_at": "2016-07-21T00:00:00.000000Z",
    "created_at": "2016-07-21T14:24:42.506537Z",
    "updated_at": "2016-07-21T14:24:42.506537Z"
  },
  "raw_issue_url": "<%= api_data_ov_raw_issue_url(1252, host: api_host) %>"
}</code></pre>
<h4>Získanie zmenených podaní</h4>
<p class="docs-endpoint"><code>GET <%= sync_api_data_ov_konkurz_vyrovnanie_issues_url(host: api_host) %></code></p>
<p>Zmenené záznamy od určeného času je možné získať pomocou <%= link_to 'synchronizačného API', '#sync-api' %>. </p>
