<h4>Získanie oznámenia vestníka</h4>
<p class="docs-endpoint"><code>GET <%= api_data_vvo_notice_url(id: ':id', host: api_host) %></code></p>
<h5>Parametre</h5>
<table class="table table-bordered table-nonfluid">
  <thead>
  <tr>
    <th>Názov</th>
    <th>Typ</th>
    <th>Popis</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><code>id</code></td>
    <td><code>integer</code></td>
    <td>Identifikátor oznámenia</td>
  </tr>
  </tbody>
</table>
<h5>Odpoveď</h5>
<p><%= link_to 'Popis atribútov', open_data_path(anchor: 'vvo.notices'), class: 'btn btn-default btn-sm' %></p>
<pre class="pre-scrollable"><code class="language-json">{
  "id": 149949,
  "title": "Dodávka HW (osobné počítače, monitory, notebooky, tlačiarne, periférne zariadenia a sieťové zariadenia),SW a súvisiacich služieb",
  "contracting_authority_name": "Slovenská pošta, a.s.",
  "contracting_authority_cin": 36631124,
  "estimated_value_amount": "173058.0",
  "estimated_value_currency": "EUR",
  "created_at": "2016-08-12T22:06:58.682810Z",
  "updated_at": "2016-08-12T22:06:58.682810Z",
  "e_auction": true,
  "raw_notice_id": 108275,
  "bulletin_issue": {
    "id": 3562,
    "year": 2016,
    "number": 149,
    "published_on": "2016-08-03",
    "source_url": "https://data.gov.sk/dataset/5c6bd403-29e4-435c-ac96-4455c4d217be/resource/6ea59341-4576-413e-a8b5-ed2d87621054/download/2016149.xml",
    "created_at": "2016-08-12T22:05:19.035025Z",
    "updated_at": "2016-08-12T22:05:19.035025Z"
  },
  "notice_type": {
    "id": 5,
    "code": "VZT",
    "name": "výsledok zmluvy na základe rámcovej dohody (tovary)",
    "created_at": "2016-05-24T21:16:46.333853Z",
    "updated_at": "2016-05-24T21:16:46.333853Z"
  },
  "contracting_authority": {
    "id": 9015,
    "name": "Slovenská pošta, a.s.",
    "created_at": "2016-05-25T15:04:49.189942Z",
    "updated_at": "2016-05-25T15:04:49.189942Z"
  },
  "contract": {
    "id": 139996,
    "created_at": "2016-05-25T15:05:09.688505Z",
    "updated_at": "2016-05-25T15:05:09.688505Z"
  },
  "suppliers": [
    {
      "id": 9652,
      "notice_id": 149949,
      "name": "Atos IT Solutions and Services s.r.o.",
      "cin": 45650276,
      "created_at": "2016-08-12T22:06:58.714491Z",
      "updated_at": "2016-08-12T22:06:58.714491Z"
    },
    {
      "id": 9650,
      "notice_id": 149949,
      "name": "EMM spol. s r.o.",
      "cin": 17316260,
      "created_at": "2016-08-12T22:06:58.702056Z",
      "updated_at": "2016-08-12T22:06:58.702056Z"
    }
  ]
}
</code></pre>
<h4>Získanie zmenených oznámení vestníka</h4>
<p class="docs-endpoint"><code>GET <%= sync_api_data_vvo_notices_url(host: api_host) %></code></p>
<p>Zmenené záznamy od určeného času je možné získať pomocou <%= link_to 'synchronizačného API', '#sync-api' %>. </p>

<h4>Získanie neštruktúrovaných údajov o oznámení vestníka</h4>
<p class="docs-endpoint"><code>GET <%= api_data_vvo_raw_notice_url(id: ':id', host: api_host) %></code></p>
<h5>Parametre</h5>
<table class="table table-bordered table-nonfluid">
  <thead>
  <tr>
    <th>Názov</th>
    <th>Typ</th>
    <th>Popis</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><code>id</code></td>
    <td><code>integer</code></td>
    <td>Identifikátor oznámenia</td>
  </tr>
  </tbody>
</table>
<h5>Odpoveď</h5>
<p><%= link_to 'Popis atribútov', open_data_path(anchor: 'vvo.raw_notices'), class: 'btn btn-default btn-sm' %></p>
<pre class="pre-scrollable"><code class="language-json">{
  "id": 108275,
  "number": 12,
  "body": "&lt;item&gt;\n  &lt;obstaravatel id=...",
  "created_at": "2016-08-12T22:05:19.722411Z",
  "updated_at": "2016-08-12T22:05:19.722411Z",
  "bulletin_issue": {
    "id": 3562,
    "year": 2016,
    "number": 149,
    "published_on": "2016-08-03",
    "source_url": "https://data.gov.sk/dataset/5c6bd403-29e4-435c-ac96-4455c4d217be/resource/6ea59341-4576-413e-a8b5-ed2d87621054/download/2016149.xml",
    "created_at": "2016-08-12T22:05:19.035025Z",
    "updated_at": "2016-08-12T22:05:19.035025Z"
  },
  "notice_type": {
    "id": 5,
    "code": "VZT",
    "name": "výsledok zmluvy na základe rámcovej dohody (tovary)",
    "created_at": "2016-05-24T21:16:46.333853Z",
    "updated_at": "2016-05-24T21:16:46.333853Z"
  }
}</code></pre>
<h4>Získanie zmenených neštruktúrovaných oznámení vestníka</h4>
<p class="docs-endpoint"><code>GET <%= sync_api_data_vvo_raw_notices_url(host: api_host) %></code></p>
<p>Zmenené záznamy od určeného času je možné získať pomocou <%= link_to 'synchronizačného API', '#sync-api' %>. </p>
