<div class="container">
  <h1><strong>Otvorené API</strong></h1>

  <div class="row">
    <div class="col-lg-9">
      <div class="anchors">
        <h2>Dokumentácia</h2>

        <h3 id="sync-api">Synchronizačné API</h3>
        <p class="docs-endpoint"><code>GET <%= root_url(host: api_host) %>api/data/&lt;zdroj&gt;/sync{?since,last_id,only_ids}</code></p>
        <p>Pre všetky dátové zdroje existuje API na synchronizáciu a je vhodné na použitie v prípadoch, keď je potrebné udržiavať lokálnu kópiu dát.</p>
        <h5>Parametre</h5>
        <table class="table table-bordered table-nonfluid">
          <thead>
          <tr>
            <th>Názov</th>
            <th>Typ</th>
            <th>Popis</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><code>since</code></td>
            <td><code>ISO 8601 timestamp</code></td>
            <td>Čas poslednej zmeny</td>
          </tr>
          <tr>
            <td><code>last_id</code></td>
            <td><code>integer</code></td>
            <td>Pomocný unikátny identifikátor záznamu</td>
          </tr>
          <tr>
            <td><code>only_ids</code></td>
            <td><code>null</code></td>
            <td>Obmedzí a tým zrýchli odpoveď zmenených záznamov. <br/>Vrátené údaje pre zmenený záznam sú len <code>id</code>, <code>updated_at</code>, <code>resource_url</code></td>
          </tr>
          </tbody>
        </table>
        <h5>Odpoveď</h5>
        <pre class="pre-scrollable"><code>HTTP/1.1 200 OK
Link: &lt;<%= root_url(host: api_host) %>api/data/crz/contracts/sync?last_id=2517939&since=2016-07-08T13%3A54%3A05.176752Z&gt;; rel='next'</code></pre>

        <p>Získanú URL z hlavičky je možné priamo použiť na vyžiadanie ďalších záznamov zmenených od zadaného času.</p>

        <h3 id="sql-api">SQL API</h3>
        <p>Pre analytické a pokročilé dopytovanie poskytujeme <%= link_to 'SQL API', services_datahub_index_path %>.</p>


        <h3 id="rate-limit">Obmedzenie počtu prístupov</h3>
        <p>Neautentifikované prístupy na verejné API sú limitované na 60 prístupov za minútu na jednu IP adresu. V hlavičke HTTP odpovede sú uvedené limity pre aktuálneho klienta.</p>
        <pre><code>HTTP/1.1 200 OK
X-RateLimit-Limit: 60
X-RateLimit-Remaining: 58
X-RateLimit-Reset: 1470751164</code></pre>

        <table class="table table-bordered table-nonfluid">
          <thead>
          <tr>
            <th>Hlavička</th>
            <th>Popis</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><code>X-RateLimit-Limit</code></td>
            <td>Maximálny povolený počet prístupov.</td>
          </tr>
          <tr>
            <td><code>X-RateLimit-Remaining</code></td>
            <td>Povolený počet prístupov v danom časovom okne.</td>
          </tr>
          <tr>
            <td><code>X-RateLimit-Reset</code></td>
            <td>Časová pečiatka, kedy bude počítadlo obnovené na pôvodnú hodnotu.</td>
          </tr>
          </tbody>
        </table>

        <h2 id="data">Dáta</h2>
        <p>API pre údaje z <%= link_to 'centrálneho registra zmlúv', '#crz' %>, <%= link_to 'registra právnických osôb', '#rpo' %>, <%= link_to 'vestníka verejného obstarávania', '#vvo' %>, <%= link_to 'obchodného vestníka', '#ov' %> a <%= link_to 'registra účtovných závierok', '#ruz' %>.</p>

        <h3 id="rpo">Register právnických osôb <span class="label label-warning">BETA</span></h3>
        <p>Register právnických osôb je jedným z klúčových registrov vo verejnej správe. Obsahuje právnické osoby z viacerých zdrojových registrov (napr. obchodný register, živnostenský register, regi).</p>
        <%= render 'rpo_api' %>

        <h3 id="crz">Centrálny register zmlúv <span class="label label-warning">BETA</span></h3>
        <%= render 'crz_api' %>

        <h3 id="vvo">Vestník verejného obstarávania <span class="label label-danger">ALFA</span></h3>
        <%= render 'vvo_api' %>

        <h3 id="ov">Obchodný vestník <span class="label label-danger">ALFA</span></h3>
        <%= render 'ov_bulletin_issues' %>
        <%= render 'ov_raw_issues' %>
        <%= render 'ov_or_podanie_issues' %>
        <%= render 'ov_konkurz_restrukturalizacia_issues' %>
        <%= render 'ov_konkurz_vyrovnanie_issues' %>
        <%= render 'ov_likvidator_issues' %>
        <%= render 'ov_znizenie_imania_issues' %>

        <h3 id="ruz">Register účtovných závierok <span class="label label-danger">ALFA</span></h3>
        <%= render 'ruz_api' %>

        <h3 id="socpoist">Zoznamy dlžníkov Sociálnej poisťovne <span class="label label-danger">ALFA</span></h3>
        <%= render 'socpoist_api' %>

        <h3 id="vszp">Zoznamy dlžníkov Všeobecnej zdravotnej poisťovne <span class="label label-danger">ALFA</span></h3>
        <%= render 'vszp_api' %>

        <h2 id="licencia">Licencia</h2>
        <p>Využívaním týchto dát a API súhlasíte s <a href="/podmienky">podmienkami používania</a>.</p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading">Obsah</div>
        <ul class="list-group list-group-collapse">
          <li class="list-group-item"><%= link_to 'Synchronizačné API', '#sync-api' %></li>
          <li class="list-group-item"><%= link_to 'SQL API', '#sql-api' %></li>
          <li class="list-group-item"><%= link_to 'Obmedzenie počtu prístupov', '#rate-limit' %></li>
          <li class="list-group-item">
            <%= link_to 'Dáta', '#data' %>
            <ul class="list-group">
              <li class="list-group-item"><%= link_to 'Register právnických osôb', '#rpo' %></li>
              <li class="list-group-item"><%= link_to 'Centrálny register zmlúv', '#crz' %></li>
              <li class="list-group-item"><%= link_to 'Vestník verejného obstarávania', '#vvo' %></li>
              <li class="list-group-item"><%= link_to 'Obchodný vestník', '#ov' %></li>
              <li class="list-group-item"><%= link_to 'Register účtovných závierok', '#ruz' %></li>
              <li class="list-group-item"><%= link_to 'Zoznamy dlžníkov Sociálnej poisťovne', '#socpoist' %></li>
              <li class="list-group-item"><%= link_to 'Zoznamy dlžníkov Všeobecnej zdravotnej poisťovne', '#vszp' %></li>
            </ul>
          </li>
          <li class="list-group-item"><%= link_to 'Licencia', '#licencia' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>