<div class="container">
  <h1><strong>Otvorené API</strong></h1>

  <div class="row">
    <div class="col-lg-9">
      <div class="anchors">
        <h2>Dokumentácia</h2>

        <h3 id="sync-api">Synchronizačné API</h3>
        <%= render 'sync_api', premium: false %>

        <h3 id="sql-api">SQL API</h3>
        <p>Pre analytické a pokročilé dopytovanie poskytujeme <%= link_to 'SQL API', services_datahub_index_path %>.</p>

        <h3 id="rate-limit">Obmedzenie počtu prístupov</h3>
        <p>Neautentifikované prístupy na verejné API sú limitované na 60 prístupov za minútu na jednu IP adresu. V hlavičke HTTP odpovede sú uvedené limity pre aktuálneho klienta.</p>
        <%= render 'rate_limit' %>

        <h3 id="upcoming-changes">Zmeny v štruktúre dát</h3>
        <p>Štruktúra dát podlieha <%= link_to 'zmenám', release_notes_path %>.</p>

        <h2 id="data">Dáta</h2>
        <p>API pre údaje z <%= link_to 'centrálneho registra zmlúv', '#crz' %>, <%= link_to 'registra právnických osôb', '#rpo' %>, <%= link_to 'vestníka verejného obstarávania', '#vvo' %>, <%= link_to 'obchodného vestníka', '#ov' %> a <%= link_to 'registra účtovných závierok', '#ruz' %>.</p>

        <h3 id="rpo">Register právnických osôb <span class="label label-warning">BETA</span></h3>
        <p>Register právnických osôb je jedným z kľúčových referenčných registrov vo verejnej správe. Obsahuje informácie o právnických osobách z viacerých zdrojových registrov (napr. obchodný register, živnostenský register, register občianskych združení&hellip;)</p>
        <%= render 'rpo_api' %>

        <h3 id="crz">Centrálny register zmlúv <span class="label label-warning">BETA</span></h3>
        <%= render 'crz_api' %>

        <h3 id="vvo">Vestník verejného obstarávania <span class="label label-danger">ALFA</span></h3>
        <%= render 'vvo_api' %>

        <h3 id="ov">Obchodný vestník <span class="label label-danger">ALFA</span></h3>
        <%= render 'ov_bulletin_issues' %>
        <%= render 'ov_raw_issues' %>
        <%= render 'ov_or_podanie_issues' %>
        <%= render 'ov_konkurz_restrukturalizacia_issues' %>
        <%= render 'ov_konkurz_vyrovnanie_issues' %>
        <%= render 'ov_likvidator_issues' %>
        <%= render 'ov_znizenie_imania_issues' %>

        <h3 id="ruz">Register účtovných závierok <span class="label label-danger">ALFA</span></h3>
        <%= render 'ruz_api' %>

        <h3 id="socpoist">Dlžníci Sociálnej poisťovne <span class="label label-danger">ALFA</span></h3>
        <%= render 'socpoist_api' %>

        <h3 id="vszp">Dlžníci Všeobecnej zdravotnej poisťovne <span class="label label-danger">ALFA</span></h3>
        <%= render 'vszp_api' %>

        <h2 id="licencia">Licencia</h2>
        <p>Využívaním týchto dát a API súhlasíte s <a href="/podmienky">podmienkami používania</a>.</p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading">Obsah</div>
        <ul class="list-group list-group-collapse">
          <li class="list-group-item"><%= link_to 'Synchronizačné API', '#sync-api' %></li>
          <li class="list-group-item"><%= link_to 'SQL API', '#sql-api' %></li>
          <li class="list-group-item"><%= link_to 'Obmedzenie počtu prístupov', '#rate-limit' %></li>
          <li class="list-group-item"><%= link_to 'Zmeny v štruktúre dát', '#upcoming-changes' %></li>
          <li class="list-group-item">
            <%= link_to 'Dáta', '#data' %>
            <ul class="list-group">
              <li class="list-group-item"><%= link_to 'Register právnických osôb', '#rpo' %></li>
              <li class="list-group-item"><%= link_to 'Centrálny register zmlúv', '#crz' %></li>
              <li class="list-group-item"><%= link_to 'Vestník verejného obstarávania', '#vvo' %></li>
              <li class="list-group-item"><%= link_to 'Obchodný vestník', '#ov' %></li>
              <li class="list-group-item"><%= link_to 'Register účtovných závierok', '#ruz' %></li>
              <li class="list-group-item"><%= link_to 'Dlžníci Sociálnej poisťovne', '#socpoist' %></li>
              <li class="list-group-item"><%= link_to 'Dlžníci Všeobecnej zdravotnej poisťovne', '#vszp' %></li>
            </ul>
          </li>
          <li class="list-group-item"><%= link_to 'Licencia', '#licencia' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
