<% cache 'premium_data_docs' do %>
  <div class="container">
    <h1><strong>Prémiové dáta</strong></h1>

    <div class="anchors">
      <h2>Úvod</h2>
      <p class="lead"><%= link_to 'Slovensko.Digital', 'https://slovensko.digital/' %> poskytuje prístup ku konsolidovaným dátam cez <%= link_to 'REST', premium_api_path %> a <%= link_to 'SQL API', services_datahub_index_path %>. Prémiové dáta sprístupňujeme <%= link_to 'po registrácii', services_datahub_index_path %>.</p>

      <h2>Dokumentácia</h2>
      <p>Popis štruktúry tabuliek pre datasety z <%= link_to 'právnických osôb', '#po' %> nájdete v tejto dokumentácii.</p>

      <h2>Aktualizácia</h2>
      <p>Dáta prístupné cez API sú aktualizované priebežne. Štruktúra dát podlieha <%= link_to 'zmenám', release_notes_path %>.</p>

      <h3 id="po">Právnické osoby</h3>
      <p>Konsolidované dáta pravníckých osôb.</p>
      <p class="btn-row">
        <%= link_to 'API', premium_api_path(anchor: :po), class: 'btn btn-default' %>
      </p>
      <% tables = PgCatalog::PgTable.find_by_schema(:datahub) %>
      <%= render partial: 'open_data/tables', object: tables %>
      <%= render partial: 'open_data/table', collection: tables %>
    </div>
  </div>
<% end %>
