<div class="container autoform">
  <h1><strong>Datahub</strong></h1>
  <p class="lead">Prístup ku konsolidovaným a&nbsp;prepojeným štruktúrovaným dátam cez <em>jednoduché REST API</em>. Exporty dát do Excelu a&nbsp;rozhranie pre
    <em>analytické reporty cez SQL</em>.
  <hr>

  <section>
    <h2>Naše dáta vo Vašom informačnom systéme</h2>
    <p class="lead">Integrácia cez <%= link_to 'jednoduché REST API', premium_api_path %> na konsolidované a prepojené dáta.</p>
  </section>

  <section>
    <h2>Analýzy a exporty dát</h2>
    <p class="lead">Potrebujete zoznam firiem v IT sektore? Analýzu obstarávaní v zdravotníctve? <em>Export do Excelu?</em></p>
  </section>

  <section>
    <h2>Rýchle odpovede na zložité otázky</h2>
    <p class="lead"><em>Analytické reporty cez SQL.</em></p>
    <div class="row">
      <div class="col-md-6">
        <p><strong>Príklad:</strong> Aké typy firiem sa najčastejšie v ktorom roku zakladali?</p>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Názov</th>
              <th>Rok</th>
              <th>Počet</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Sprostredkovanie obchodu s rozličným tovarom</td>
              <td>2006</td>
              <td>3252</td>
            </tr>
            <tr>
              <td>Ostatné pomocné obchodné činnosti i. n.</td>
              <td>2013</td>
              <td>2818</td>
            </tr>
            <tr>
              <td>Ostatný maloobchod v nešpecializovaných predajniach</td>
              <td>2012</td>
              <td>2737</td>
            </tr>
            <tr>
              <td>Ostatný maloobchod mimo predajní, stánkov a trhov</td>
              <td>2016</td>
              <td>2633</td>
            </tr>
            <tr>
              <td>Ostatný maloobchod v nešpecializovaných predajniach</td>
              <td>1992</td>
              <td>2612</td>
            </tr>
            </tbody>
          </table>
        </div>
        <p><a href="#priklad1" class="btn btn-default btn-sm" data-toggle="collapse">Zobraziť SQL príkaz</a></p>
        <div id="priklad1" class="panel-collapse collapse" role="tabpanel">
      <pre><code class="language-sql">SELECT c.name, EXTRACT(YEAR FROM established_on), COUNT(*)
  -- vyhľadaj hlavné kódy aktivít podľa rokov založenia
  FROM rpo.organizations o
  -- zo všetkých právnických osôb
  JOIN rpo.main_activity_codes c
    ON o.main_activity_code_id = c.id
  GROUP BY 1, 2 ORDER BY 3 DESC
  -- zoradené od najčastejších
  LIMIT 5</code></pre>
        </div>
      </div>
      <div class="col-md-6">
        <p><strong>Príklad:</strong> Kto podľa centrálneho registra podpisuje najčastejšie zmluvy v&nbsp;sobotu alebo v&nbsp;nedeľu?
        </p>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Objednávateľ</th>
              <th>Počet zmlúv</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Národná diaľničná spoločnosť, a.s.</td>
              <td>1962</td>
            </tr>
            <tr>
              <td>Rozhlas a televízia Slovenska</td>
              <td>1293</td>
            </tr>
            <tr>
              <td>NŠC</td>
              <td>361</td>
            </tr>
            <tr>
              <td>Národné poľnohospodárske a potravinárske centrum</td>
              <td>294</td>
            </tr>
            <tr>
              <td>Slovenské národné múzeum</td>
              <td>224</td>
            </tr>
            </tbody>
          </table>
        </div>
        <p><a href="#priklad2" class="btn btn-default btn-sm" data-toggle="collapse">Zobraziť SQL príkaz</a></p>
        <div id="priklad2" class="panel-collapse collapse" role="tabpanel">
      <pre><code class="language-sql">SELECT contracting_authority_name, COUNT(*)
  FROM crz.contracts
  WHERE EXTRACT(DOW FROM signed_on) IN (6, 0)
  -- sobota alebo nedeľa
  GROUP BY contracting_authority_name
  ORDER BY 2 DESC
  LIMIT 5</code></pre>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2>Zdieľané databázy</h2>
    <p class="lead">Ukladajte nové dáta v našej centrálnej databáze, spoločne ich prepojíme na ostatné dáta a získajte prístup k novým možnostiam využitia Vašich dát.</p>
  </section>

  <section>
    <h2>Registrácia</h2>
    <p class="lead">Jednoduchá registrácia na prístup k SQL rozhraniu a API.
      <em>Kompletné dáta zdrojových registrov.</em> API na konsolidované a&nbsp;prepojené dáta.
      <em>Prvý mesiac <strong>zadarmo</strong></em>. Následne podľa <%= link_to 'cenníka', pricing_path(anchor: 'datahub') %>.
      Na výskumné a dobročinné účely zadarmo.
    </p>

    <div id="datahub-error" style="display: none;">
      <%= render 'services/share/flash_message', {type: :alert, message: 'Vyplňte prosím email a skúste znova.'} %>
    </div>
    <div id="datahub-form-sent" style="display: none;">
      <%= render 'services/share/flash_message', {type: :notice, message: 'Ďakujeme, za Váš záujem. Budeme Vás kontaktovať cez zadaný email.'} %>
    </div>

    <iframe name="form-result" style="display: none;"></iframe>
    <div class="row">
      <%= form_tag 'https://docs.google.com/forms/d/e/1FAIpQLSdgW4Hf2fEhX3cpTkoYJTaIVs8pWrTFrItt9Hj_9ZD36yPLZQ/formResponse', target: 'form-result', id: 'datahub-form' do %>
        <div class="col-md-3 col-md-pad">
          <div class="form-group">
            <%= label_tag 'entry.1902802364', 'Email', class: 'control-label' %>
            <%= email_field_tag 'entry.1902802364', nil, class: 'form-control input-lg', id: 'datahub-email' %>
          </div>
        </div>
        <div class="col-md-4 col-md-pad">
          <%= label_tag :a, '&nbsp'.html_safe %> <br>
          <%= button_tag id: 'submit_to_datahub', class: 'btn btn-default btn-lg btn-strong' do %>
            <strong>Zaregistrovať</strong>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-7 col-md-pad">
        <br>
        <p class="text-muted">Registráciou sa zaväzujete dodržiavať <%= link_to 'podmienky používania služieb Ekosystému', services_terms_path %>.</p>
      </div>
    </div>
  </section>

  <section id="clients">
    <h2 class="text-center">Naši spokojní používatelia</h2>

    <div class="row">
      <div class="col-md-3 col-md-offset-1 text-center">
        <%= link_to 'https://www.finstat.sk', target: '_blank', title: 'FinStat' do %>
          <%= image_tag 'clients/finstat.png', alt: 'FinStat' %>
        <% end %>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to 'http://www.ringieraxelspringer.sk', target: '_blank', title: 'Ringier Axel Springer' do %>
          <%= image_tag 'clients/ringieraxelspringer.png', alt: 'Ringier Axel Springer' %>
        <% end %>
      </div>
      <div class="col-md-3 text-center">
        <%= link_to 'https://verejne.digital', target: '_blank', title: 'verejne.digital' do %>
          <%= image_tag 'clients/verejne_digital.png', alt: 'verejne.digital' %>
        <% end %>
      </div>
    </div>
  </section>

</div>
