<%= content_tag :h4, id: docs_table_dom_id(table) do %>
  Tabuľka <code><%= table.schemaname %>.<%= table.tablename %></code>
<% end %>
<%= docs [table.schemaname, :tables, table.tablename, :long_description_html] %>
<div class="table-responsive">
<table class="table table-condensed table-hover">
  <thead>
  <tr>
    <th>Názov stĺpca</th>
    <th>Popis</th>
    <th>Typ</th>
    <th>Poznámka</th>
  </tr>
  </thead>
  <tbody>
  <% table.attributes.each do |attr| %>
      <%= content_tag :tr, id: docs_attribute_dom_id(table, attr) do %>
        <td class="col-md-3"><code><%= attr.attname %></code>
          <% if attr.fattname %>
              &rarr;&nbsp;<code><a href="#<%= attr.fnspname %>.<%= attr.frelname %>.<%= attr.fattname %>"><%= attr.fnspname %>.<%= attr.frelname %>.<%= attr.fattname %></a></code>
          <% end %>
        </td>

      <%- description = docs [table.schemaname, :tables, table.tablename, :columns, attr.attname, :description] %>
      <%- description = docs [table.schemaname, :columns, attr.attname, :description] if description.blank? %>
      <%- note_html = docs [table.schemaname, :tables, table.tablename, :columns, attr.attname, :note_html] %>
      <%- note_html = docs [table.schemaname, :columns, attr.attname, :note_html] if note_html.blank? %>
 
        <td class="col-md-3"><%= description %></td>
        <td class="col-md-2"><code><%= attr.typname %></code><% if !attr.attnotnull %>, <code>NULL</code><% end %></td>
        <td class="col-md-4"><small><%= note_html %></small></td>
      <% end %>
  <% end %>
  </tbody>
</table>
</div>
