<div class="container">
  <h1><strong>Prémiové API</strong></h1>

  <div class="row">
    <div class="col-lg-9">
      <div class="anchors">
        <h2>Dokumentácia</h2>

        <h3 id="access-token">Overenie prístupu</h3>
        <p>Na prístup ku prémiovému API je potrebný prístupový kľúč <code>access_token</code>, ktorý je dostupný <%= link_to 'po registrácii', services_datahub_index_path %>.</p>

        <p>Každá požiadavka na odpoveď z premiového API musí obsahovať prístupový kľúč <code>access_token</code>. Prístupový kľúč môže byť umiestnený buď v hlavičke HTTP požiadavky alebo v parametri.</p>
        <h5>Príklad</h5>
        <p>Ako vytvoriť požiadavku s hodnotou prístupového kľúča <code>nbusr123</code></p>
        <p class="docs-endpoint"><code>curl -H 'Authorization: Token nbusr123' '<%= sync_api_datahub_corporate_bodies_url(host: api_host) %>'</code></p>
        <p>alebo</p>
        <p class="docs-endpoint"><code>curl '<%= sync_api_datahub_corporate_bodies_url(host: api_host, access_token: 'nbusr123') %>'</code></p>

        <h3 id="sync-api">Synchronizačné API</h3>
        <%= render 'open_apis/sync_api', premium: true %>

        <h3 id="sql-api">SQL API</h3>
        <p>Pre analytické a pokročilé dopytovanie poskytujeme <%= link_to 'SQL API', services_datahub_index_path %>.</p>

        <h3 id="rate-limit">Obmedzenie počtu prístupov</h3>
        <p>Prístupy na API sú limitované na 60 prístupov za minútu na jednu IP adresu. V hlavičke HTTP odpovede sú uvedené limity pre aktuálneho klienta. Limity vieme po dohode navýšiť.</p>
        <%= render 'open_apis/rate_limit' %>

        <h3 id="upcoming-changes">Zmeny v štruktúre dát</h3>
        <p>Štruktúra dát podlieha <%= link_to 'plánovaným zmenám', upcoming_changes_path %>.</p>

        <h2 id="premium-data">Prémiové dáta</h2>

        <h3 id="po">Právnické osoby <span class="label label-warning">BETA</span></h3>
        <%= render 'datahub_corporate_bodies_api' %>

        <h2 id="licencia">Licencia</h2>
        <p>Využívaním týchto dát a API súhlasíte s <a href="/podmienky">podmienkami používania</a>.</p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading">Obsah</div>
        <ul class="list-group list-group-collapse">
          <li class="list-group-item"><%= link_to 'Overenie prístupu', '#access-token' %></li>
          <li class="list-group-item"><%= link_to 'Synchronizačné API', '#sync-api' %></li>
          <li class="list-group-item"><%= link_to 'SQL API', '#sql-api' %></li>
          <li class="list-group-item"><%= link_to 'Obmedzenie počtu prístupov', '#rate-limit' %></li>
          <li class="list-group-item"><%= link_to 'Zmeny v štruktúre dát', '#upcoming-changes' %></li>
          <li class="list-group-item">
            <%= link_to 'Prémiové dáta', '#data' %>
            <ul class="list-group">
              <li class="list-group-item"><%= link_to 'Právnické osoby', '#po' %></li>
            </ul>
          </li>
          <li class="list-group-item"><%= link_to 'Licencia', '#licencia' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
