<!DOCTYPE html>
<html>
<head>
  <title><%= @page.title %></title>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-59ZNJC5');</script>
  <!-- End Google Tag Manager -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|Merriweather:100,200,300,500&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="Ekosystém.Slovensko.Digital"/>
  <meta property="og:url" content="<%= @page.url %>"/>
  <meta property="og:title" content="
    <% if @page.og.title %><%= @page.og.title %>
    <% else %><%= @page.title %>
    <% end %>"/>
  <% if @page.og.description %>
    <meta property="og:description" content="<%= @page.og.description %>"/>
  <% end %>
  <% if @page.og.image %>
    <meta property="og:image" content="<%= @page.og.image %>"/>
  <% end %>
  <% if @page.og.secure_url %>
    <meta property="og:image:secure_url" content="<%= @page.og.secure_url %>"/>
  <% end %>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-59ZNJC5"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', '<%= ENV.fetch('GA_TRACKING_ID') %>', 'auto');
    ga('send', 'pageview');
</script>

<nav class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><%= image_tag 'ekosystem.svg', width: '270' %></a>
    </div>
    <div id="navbar" class="navbar-right visible-lg visible-md">
      <ul class="nav navbar-nav">
        <li class="navbar-claim">Služby. Otvorené API. Otvorené dáta.</li>
        <li class="navbar-last">
          <a href="https://platforma.slovensko.digital" target="_blank">Platforma <%= image_tag 'platforma-arrow.svg', size: '26x26' %></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- eco app -->
<%= yield %>

<footer>
  <div class="newsletter">
    <div class="container">
      <form role="form" action="https://my.sendinblue.com/users/subscribe/js_id/29wti/id/2" data-action="https://my.sendinblue.com/users/subscribeembed/js_id/29wti/id/2" method="post">
        <div class="row">
          <div class="col-md-4 col-md-pad">
            <p><strong>Newsletter Ekosystém.Slovensko.Digital</strong></p>
            <p>Novinky emailom sem-tam, žiadny spam.</p>
          </div>
          <div class="col-md-3 col-md-pad">
            <div class="form-group">
              <%= label_tag 'entry.204431983', 'Email', class: 'control-label' %>
              <input type="hidden" name="js_id" id="js_id" value="29wti">
              <input type="hidden" name="listid" id="listid" value="14">
              <input type="hidden" name="from_url" id="from_url" value="yes">
              <input type="hidden" name="hdn_email_txt" id="hdn_email_txt" value="">
              <input type="email" required name="email" class="form-control">
            </div>
          </div>
          <div class="col-md-4 col-md-pad">
            <%= label_tag :a, '&nbsp'.html_safe %> <br>
            <%= button_tag 'Prihlásiť', class: 'btn btn-default' %>
          </div>
        </div>
        <div class="row">
          <p class="col-md-offset-4 col-md-5 col-md-pad legal">
            Prihlásením dávam dobrovoľný súhlas spoločnosti Služby Slovensko.Digital s.r.o. na zasielanie bezplatného newslettera na mnou zadaný e-mail. Tento súhlas môžem kedykoľvek odvolať na
            <a href="mailto:podpora@slovensko.digital">podpora@slovensko.digital</a>. Oboznámil(a) som sa s informáciami v sekcii
            <%= link_to 'Ochrana osobných údajov', privacy_policy_path, target: '_blank' %>.
          </p>
        </div>
      </form>
      <div class="row hidden newsletter-success">
        <div class="col-md-12">
          <p>Na zadanú adresu sme poslali email pre potvrdenie odberu. Ďakujeme za Váš záujem.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <address>
          <a href="https://slovensko.digital/"><strong>Služby Slovensko.Digital, s.r.o.</strong></a><br>
          Staré grunty 18<br>
          841 04 Bratislava<br>
        </address>
        <p><a href="mailto:ekosystem@slovensko.digital">ekosystem@slovensko.digital</a></p>
      </div>

      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><%= link_to root_path do %>
              <strong>Ekosystém</strong><% end %>
          </li>
          <li><%= link_to 'Služby', root_path %></li>
          <li><%= link_to 'Otvorené dáta a API', open_data_path %></li>
          <li><%= link_to 'Prémiové dáta a API', premium_data_path %></li>
          <li><%= link_to 'Podmienky datasetov', datasets_terms_path %></li>
          <li><%= link_to 'Podmienky služieb', services_terms_path %></li>
          <li><%= link_to 'Ochrana osobných údajov', privacy_policy_path %></a></li>
          <li><%= link_to 'Cenník', pricing_path %></li>
          <li><a href="https://platforma.slovensko.digital/t/ekosystem-slovensko-digital-novinky/2326">Novinky</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><a href="https://slovensko.digital/"><strong>Občianske združenie</strong></a></li>
          <li><a href="https://slovensko.digital/o-nas">O nás</a></li>
          <li><a href="https://slovensko.digital/podpora">Podporte nás</a></li>
        </ul>
      </div>

      <div class="col-md-2">
        <p class="pull-right icons">
          <a href="https://www.facebook.com/slovensko.digital/" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span></a>
          <a href="https://github.com/slovensko-digital/ekosystem" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span></a>
          <a href="https://www.youtube.com/channel/UCbpnKa1XOIpQLYUQ2dz7Sng" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
            </span></a>
        </p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
